<nav class="flex justify-content-between border-gray-100 fixed-top w-full h-4rem surface-0 shadow border-bottom-2">
  <div class="navbar-brand">
    <a href="header" routerLink="/dashboard" routerLinkActive="active">
      <img  src="heading.svg" alt="heading"> <!--style="width: 100%; display: block; height: auto;" -->
    </a>
  </div>

  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    &#9776;
  </label>

  <ul class="navbar-nav ml-auto flex list-none align-items-start lg:align-items-center">
    <li class="nav-item mx-4 mt-2">
      <a class="nav-link px-3 pb-2 md:z-1 flex flex-row align-items-center" (click)="showDialog()" outerLinkActive="active">
        Services <img class="h-1rem w-1rem ml-8 lg:ml-2" src="ds_down_arrow_black.svg">
      </a>
    </li>
    <li class="nav-item mx-4">
      <a class="nav-link px-3 pb-2 pl-4" routerLink="/saas-offerings" routerLinkActive="active">SaaS Offerings</a>
    </li>
    <li class="nav-item mx-4">
      <a class="nav-link px-3 pb-2 pl-4" routerLink="/about_us" routerLinkActive="active">About Us</a>
    </li>
    <li class="nav-item mx-4">
      <a class="nav-link px-3 pb-2 pl-4" routerLink="/case_study" routerLinkActive="active">Case Studies</a>
    </li>
    <li class="nav-item mx-4 pl-0 lg:pl-5">
      <p-button class="mr-8" label="Contact Us" routerLink="/contact_us" routerLinkActive="active" [rounded]="true" severity="secondary"></p-button>
    </li>
  </ul>
</nav>


<!-- /*/////////////////////////////////////////////////////*/ -->  

<div class="card flex flex-column md:flex-row justify-content-center">
  <p-dialog
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '75vw'}">
      <ng-template pTemplate="headless">
        <div class="scrollable-container">
      <div class="grid flex-column md:flex-row">
        <div class=" p-3  icon">
          <img src="footer-front.svg"  alt="datashaastra" style=" max-width: 100%; display: block;  height: auto;"  >
          <p>Elevate Your Business<br>Operations with Our Cutting-<br>Edge Solutions</p>
          <a href="https://www.linkedin.com/company/datashastra-io/" target="_blank"><img src="linkedin.png" alt="linkedin" class="h-1rem w-1rem split" style=" margin-top: 150px;"></a>
        </div>
        
        <div class="col-9">
          <div class="pl-3 lg:pl-0 icon-x">
            <h2 class="mt-3 text-600">Services</h2>
            <a (click)="closeDialog()"><img src="tabler-icon-x.svg" style="margin-left: 490px;"></a> <!--class=" mt-3 lg:mt-2"-->
          </div>
          
          <div class="grid flex-column md:flex-row ">
            <div class="col-4 w-full lg:w-17rem pl-4 lg:pl-2 bottom"> <!--w-21rem lg:w-16rem pl-4 lg:pl-2-->
              <a routerLink="/Data-Transformation" routerLinkActive="active" class="text-sm Services" (click)="closeDialog()">Data Transformation<br></a>
              <div class="mt-2">
                <span class="text-sm text-color-secondary">Improve Your Data Quality To<br>Unlock Its True Potential<br></span>
                <div class="mt-3">
                  <a class="text-sm flex flex-row Route" routerLink="/saas-offerings" routerLinkActive="active" (click)="closeDialog()">Learn More 
                    <img src="cta_arrow.svg" class="h-2rem w-2rem pb-3 p-1 " style="margin-left: 107px;">
                  </a>
                </div>
              </div>
            </div>
                  
            <div class="col-4 w-full lg:w-16rem pl-4 lg:pl-0 bottom"> <!--w-21rem lg:w-16rem pl-4 lg:pl-0-->
              <a routerLink="/ML-Pipeline" routerLinkActive="active" class="text-sm Services" (click)="closeDialog()">ML Pipeline And Deployment<br></a>
              <div class="mt-2">
                <span class="text-sm text-color-secondary">Seamless & Efficient Integration of<br> ML Model with your System<br></span>
                <div class="mt-3">
                  <a class="text-sm flex flex-row  Route" routerLink="/saas-offerings" routerLinkActive="active" (click)="closeDialog()">Learn More
                    <img src="cta_arrow.svg" class="h-2rem w-2rem pb-3 p-1 " style="margin-left: 107px;">
                  </a>
                </div>
              </div>
            </div>
                  
            <div class="col-4 w-full lg:w-19rem pl-4 lg:pl-0 space bottom"> <!--w-21rem lg:w-19rem pl-4 lg:pl-0-->
              <a routerLink="/Business-Intelligent" routerLinkActive="active" class="text-sm Services" (click)="closeDialog()">Business Intelligent (BI) Dashboards<br></a>
              <div class="mt-2">
                <span class="text-sm text-color-secondary">Intuitive & Insightful Dashboards for<br>Strategic Decision Making<br></span>
                <div class="mt-3">
                  <a class="text-sm flex flex-row  Route" routerLink="/saas-offerings" routerLinkActive="active" (click)="closeDialog()">Learn More
                    <img src="cta_arrow.svg" class="h-2rem w-2rem pb-3 p-1 " style="margin-left: 127px;">
                  </a>
                </div>
              </div>
            </div>
                  
            <div class="col-4 w-full lg:w-16rem pl-4 lg:pl-2 bottom">
              <a routerLink="/AI-ML-Based-Solution" routerLinkActive="active" class="text-sm Services" (click)="closeDialog()">AI-ML Based Solution Designing<br></a>
              <div class="mt-2">
                <span class="text-sm text-color-secondary">Rapid Validation and Faster AI-ML<br>Solutions to your Problem<br></span>
                <div class="mt-3">
                  <a class="text-sm flex flex-row Route" routerLink="/saas-offerings" routerLinkActive="active" (click)="closeDialog()">Learn More
                    <img src="cta_arrow.svg" class="h-2rem w-2rem  pb-3 p-1 " style="margin-left: 110px;">
                  </a>
                </div>
              </div>
            </div>

            <div class="col-4 w-full lg:w-16rem pl-4 lg:pl-0 ml-0 lg:ml-3 bottom">
              <a routerLink="/Optimization" routerLinkActive="active" class="text-sm Services" (click)="closeDialog()">Optimization<br></a>
              <div class="mt-2">
                <span class="text-sm text-color-secondary">Efficiency with Cutting Edge<br>Optimization Models<br></span>
                <div class="mt-3">
                  <a class="text-sm flex flex-row  Route" routerLink="/saas-offerings" routerLinkActive="active" (click)="closeDialog()">Learn More
                    <img src="cta_arrow.svg" class="h-2rem w-2rem pb-3 p-1 " style="margin-left: 103px;">
                  </a>
                </div>
              </div>
            </div>

            <div class="col-4 w-full lg:w-17rem pl-4 lg:pl-0  ">
              <a routerLink="/Business-Consulting" routerLinkActive="active" class="text-sm Services" (click)="closeDialog()">Business Consulting<br></a>
              <div class="mt-2">
                <span class="text-sm text-color-secondary">Helping you Navigate your Analytics<br>Journey with Expertise<br></span>
                <div class="mt-3">
                  <a class="text-sm flex flex-row  Route" routerLink="/saas-offerings" routerLinkActive="active" (click)="closeDialog()">Learn More
                    <img src="cta_arrow.svg" class="h-2rem w-2rem pb-3 p-1" style="margin-left: 132px;">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
    </ng-template>
  </p-dialog>

</div>
