/* h1{ 
    color: blue;
} 



*{
    margin:start;
    padding: 0;
    text-decoration: none;
    color: blue;
}*/



nav {
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

ul li a {
  
  text-decoration: none;
  transition: color 0.3s;
}



.checkbtn {
  font-size: 30px;
  color: black;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    margin-right: 20px;
  }

  ul {
    position: absolute;
    top: 22px;
    right: 10px;
    background-color: white;
    color: black;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.3s;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
  }

  ul li {
    margin: 10px 0;
  }

  ul li a {
    color: black;
    font-size: 16px;
    width: 100%;
    display: block;
  }

  ul li a:hover {
    color: black;
    background-color: #f0f0f0;
    border-radius: 4px;
  }

  #check:checked ~ ul {
    opacity: 1;
    visibility: visible;
  }
}



/* .navbar-brand {
    padding-left: 20px;
} */

nav.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}





.nav-link{
    color: #363636;
    text-decoration: none;
}
.nav-link img{
  height: 30px;
  width: 30px;
  margin-left: 10px;
  
}

.nav-link.active{
    border-bottom: 2px solid #1E00D3;
}

  /*/////////////////////////////////////////////////////////////////////////////////////////////*/
.flex flex-column li{
  text-decoration: none;
}


.li{
    width: 223px;
    height: 116px;
}

.Services{
  text-decoration: none;
  color: #1E00D3;
  
}

.start{
  height: 222px;
  width: 116px;
}
.icon{
  background: url('/assets/D&Blue.svg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  margin-top: 7px;
}

.icon-x{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-x button{
  width: 24px;
  height: 24px;
}


.Route{
  color: #1E00D3;
}

.icon img{
  width: 209.95px;
  height: 15px;
  margin-top: 24px;
  color: white;
  margin-left: 14px;
}

.icon p{
  color: white;
  margin-left: 14px;
}

.icon-x a{
   margin-top: 20px;
}

  /* .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .text-900 {
    color: #212121;
  }
  
  .text-color-secondary {
    color: #757575;
  }
  
  .gap-3 {
    gap: 1rem;
  }
  
  .w-25rem {
    width: 25rem;
  } */
  
