<nav class="flex justify-content-between ">
    <div class="navbar-brand">
      <a href="header" routerLink="/dashboard" routerLinkActive="active">
        <img  src="heading.svg" alt="heading">
      </a>
    </div>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <ul class="navbar-nav ml-auto flex list-none align-items-center">
      <li class="nav-item mx-3">
        <a class="nav-link px-3 pb-2" routerLink="/services" routerLinkActive="active">Services</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link px-3 pb-2" routerLink="/saas-offerings" routerLinkActive="active">SaaS Offerings</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link px-3 pb-2" routerLink="/about_us" routerLinkActive="active">About Us</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link px-3 pb-2" routerLink="/case_study" routerLinkActive="active">Case Studies</a>
      </li>
      <li class="nav-item mx-3">
        <p-button label="Contact Us" routerLink="/contact_us" routerLinkActive="active" [rounded]="true" severity="secondary" />
      </li>
    </ul>

    <!-- <div class="collapse navbar-collapse" id="navbarNav">
     
      
    </div> -->
</nav>