<div class="footer-container">
    <img src="footer-front.svg" style="height: 28.44px; width: 248px;">

    <div class="foot">
        <div class="footer-column">
            <div id="img" style="margin: 12px;">
                <ul class="footer-list">
                    <li>Data Transformation</li>
                    <li>AI-ML Based Solution Designing</li>
                    <li>ML Pipeline & Deployment</li>
                    <li>Optimization</li>
                    <li>Business Intelligent (BI) Dashboards</li>
                    <li>Business Consulting</li>
                </ul>
            </div>
        </div>
        <div class="footer-column">
            <h2>SaaS Offerings</h2>
            <ul class="footer-list">
                <li>About Us</li>
                <li>Case Studies</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="footer-column">
            <h2>Email</h2>
            <a href="#" style="color: gray; text-decoration: none;">infodatashastra.io <img src="copy.png" style="height: 18px; width:18px;  "></a>
            <h2 style="margin-top: 24px;">Office</h2>
            <p style="color: gray;">603 B wing, Raheja plaza co-operative society Ltd. LBS road 400086 Ghatkopar West Mumbai, India.<br>Yatnavat Technologies Pvt. Ltd</p>
        </div>
        <div class="footer-column">
            <h2>Phone</h2>
            <p style="color: gray;">+91 77386 27566</p>
            <a href="#"><img src="linkedin.png" style="height: 18px; width: 18px;" alt="LinkedIn"></a>
        </div>
    </div>
    <div class="footer-bottom">
        <a href="#">Privacy Policy</a>
        <div id="bottom">
            <a href="#">T&C</a>
        </div>
        <p style="color: gray;">DataShastra © 2024. All rights reserved</p>
    </div>
</div>
