<div class="img" style="width: 1312px; height: 400px; margin-top: 40px;">
    <img src="Route-Optimization2.svg">
</div>

<div class="flex" style="display: flex; flex-direction: row; margin-top: 50px;">
    <div class="start" >
    <div id="1" style="height: 60px; width: 338px; ">
    <p style=" font-size: 20px; line-height: 0; margin-top: 21px;">Client</p>
    <p style="font-size: 16px; margin-top: 19px; color: #696969;">PiEKart, Walmart, Zepto, Flipkart</p>
    </div>

    <div id="2" style="height: 60px; width: 260px; ">
    <p style=" font-size: 20px; margin-top: 25px; line-height: 0;">Industry</p>
    <p style="font-size: 16px; margin-top: 19px; color: #696969; ">Logistics and Route Optimization</p>
</div>
     
<div id="3" style="width: 382px; height: 86px; ">
    <p style=" font-size: 20px; margin-top: 24px; line-height: 0; ">Challenge</p>
    <p style="font-size: 16px; margin-top: 19px;  color: #696969;">Reducing Transportation Costs and Enhancing Efficiency</p>

</div>
</div>


<div class="Data-Driven" style="margin-left: 24px;">

<div>
   <h1 style="color: #1E00D3; font-size: 32px; line-height: 0; margin-top: 13px;">Route Optimization - Optimus</h1>
   <h6 style="font-size: 20px; color: #1E00D3; margin-top: 40px;">Overview</h6>
   <p style="margin-top: 8px;">In the fast-paced world of logistics, delivering on time while minimizing costs and maximizing vehicle utilization presents a formidable challenge. Our clients, including major industry players in e-commerce, required a robust solution to optimize routes for single pickup, multi-drop, and last-mile deliveries.</p>

   <h6 style="padding-top: 40px; font-size: 20px; color: #1E00D3;">The Problem</h6>
   <p style="margin-top: 8px;">Our clients needed to optimize their logistical operations to reduce transportation costs while adhering to stringent Service Level Agreements (SLAs) such as on-time delivery, time slot management, and accurate Estimated Time of Arrival (ETA). The goal was to achieve maximum utilization of available vehicles without compromising service quality.</p>

</div>
<div>
    <h6 style="font-size: 20px; color: #1E00D3; margin-top: 40px;">Our Solution: Optimus</h6>
    <p style="color: #363636; margin-top: 8px;">Optimus:</p>
    <p style="margin-top: 3px; color: #696969;">Developed in-house at DataShastra, is a sophisticated routing algorithm that leverages a farthest-first approach combined with a Greedy algorithm. It addresses complex multi-constraint problems including traffic conditions, vehicle type specifications, and delivery slot restrictions, among others.</p>
    
    <p style="color: #363636; margin-top: 8px;">Advanced Algorithm Application:</p>
    <p style="margin-top: 3px; color: #696969;">Incorporates mixed-integer programming to manage constraints like vehicle load capacity, permissible delivery slots, and total working hours.</p>
     
    <p style="color: #363636; margin-top: 8px;">Layered Optimizations:</p>
    <p style="margin-top: 3px; color: #696969;">Enhances routes with heuristic selection based on our proprietary Network Intelligence Tool, and allows for cluster-based (pincode) or route-based delivery optimizations.</p>
    
    <p style="color: #363636; margin-top: 8px;">Genetic Algorithm & K-Opt Route Optimization:  </p>
    <p style="margin-top: 3px; color: #696969;">Utilizes cutting-edge methods to further refine routes and road distance calculations through our flagship product, Disha, instead of traditional Haversine distance matrices.</p>
</div>

<div>
    <h6 style="margin-top: 40px; color: #1E00D3; font-size: 20px;">Impact</h6>
    <p style="color: #363636; margin-top: 8px;">Cost Efficiency: </p>
    <p style="margin-top: 3px; color: #696969;">Helped reduce delivery costs by up to 60%, with an average reduction of 20-30%.</p>

    <p style="color: #363636; margin-top: 8px;">Time Savings:</p>
    <p style="margin-top: 3px; color: #696969;">Planning and deployment times were cut by 30-50%, significantly enhancing operational responsiveness.</p>
  
    <p style="color: #363636; margin-top: 8px;">Enhanced Accuracy and Flexibility:</p>
    <p style="margin-top: 3px; color: #696969;">Provided precise ETAs for each drop point, enhancing real-time tracking and management. Features such as manual trip assignment and the ability to split or merge trips cater to daily variations in demand and vehicle availability.</p>

    <p style="color: #363636; margin-top: 8px;">Integration Capabilities:</p>
    <p style="margin-top: 3px; color: #696969;">Fully integrated with our Smart Trip Management System and equipped with API functionality for seamless integration with third-party systems.</p>

</div>

<div>
    <h6 style="margin-top: 40px; color: #1E00D3; font-size: 20px;">Additional Features</h6>

    <p style="color: #363636; margin-top: 8px;">Real-Time Tracking and Alerts: </p>
    <p style="margin-top: 3px; color: #696969;">Keeps logistic teams informed with real-time updates and notifications for each delivery point.</p>

    <p style="color: #363636; margin-top: 8px;">Adaptive Trip Management:</p>
    <p style="margin-top: 3px; color: #696969;">Allows manual intervention to adjust routes and operations based on local and daily logistics dynamics.</p>

</div>

<diV>
    <h6 style="margin-top: 40px; color: #1E00D3; font-size: 20px;">Conclusion</h6>
    <p style="margin-top: 3px; color: #696969;">Optimus by DataShastra has revolutionized how our clients approach logistics challenges. By seamlessly integrating sophisticated algorithms with practical, user-friendly features, Optimus ensures that our clients stay ahead in a competitive market, delivering efficiently and reliably every time.</p>
</diV>
   
</div>

</div>

<app-footer />