<div class="sas-header" >
    <img src="D.svg" alt="Logo">
    <h2 style="margin-left: 5px;">Saas Offerings</h2>
  </div>
  <div class="img" style="background-image: url('Cons.jpg'); width: 755px; height: 474px; background-size: cover;">
    ddd
 <div class="card" style="background-image: url('Blank-Blue.svg'); width: 900px; height: 250px;" >
    <p-tabView>
      <p-tabPanel header="Auto Route Planning">
        <div class="header">
        <h1>Auto Route Planning</h1>
        <ul>
          Optimus - Predictive solution for optimal and efficient vehicle and
          route planning.
  
          <li>
            Optimal routes for over 400 delivery locations in under a minute
          </li>
          <li>Multiple configurations and a user-friendly interface</li>
          <li>
            Smart AI & ML backed optimisation engine to see recommended routes
          </li>
          <li>Savings up to 20%</li>
        </ul>
      </div>
      </p-tabPanel>
      <p-tabPanel header="Transport Management System">
        <div class="header">
      <h1>Transport Management System"</h1>
  
      <ul> Smart Trip - Total Transport Management System.
      <li>Assigning Vehicle to Trip and Real time monitoring the same    </li>
      <li>Intuitive and Interactive Dashboard to avoid SLA breaches</li>
      <li> Delivery Partner App with on-the-go controls for efficient delivery</li>
      <li> Supervisor App for overseeing operations and vehicle tracking.</li>
    </ul>
  </div>
      </p-tabPanel>
      <p-tabPanel header="Contract Management & Accounting Tool">
    <div class="header">
      <h1>Contract Management & Accounting Tool"</h1>
  
      <ul> HiSaaB - Comprehensive Contract Management and Accounting tool
      <li> Simplified contract approval workflows</li>
      <li>Enables easy billing and cost allocation based on contract terms</li>
      <li>Advanced cost analysis tools to optimize trip expenses, enhancing efficiency and accountability</li>
      <li> Cost Analysis for a given Trip and Vehicle in terms of Kilometres, Orders, Kg, Penalties, Fuel Advance etc.</li>
    </ul>

  </div>
      </p-tabPanel>
  
    <p-tabPanel header="Dashboarding, Reporting & Trip Analysis">
      <div class="header">
    <h1>Dashboarding, Reporting & Trip Analysis</h1>
  
      <ul>Third Eye- AI-powered dashboards and Reports
      <li>Comprehensive trip analysis, including monthly trips, vehicle utilization.</li>
      <li>Reports for Delivery SLAs, user, and revenue analysis and analytics.</li>
      <li>Dashboard for CO2 emission savings.</li>
    </ul>
      </div>
  </p-tabPanel>
  </p-tabView>
  </div>
</div>
  