<div class="saas-container">
  <div class="flex flex-column md:flex-row">
    <div id="img" class="md:w-6">
      <img src="saas_offering.png" class="width:full" style="border: 0;">
    </div>

    <div class="sas" class="h-30rem w-35rem text-white	" style="background-image: url(Blue.jpg); margin-top: 48px;">
      <div id="start" class="pl-5">
      <h1>Our SaaS Offerings</h1>

      <p class="mt-5">Discover the future of business efficiency with our comprehensive suite<br>of Software as a Service (SaaS) solutions, designed to cater to<br> businesses of all sizes.</p>
                       
      <ul class="text-base line-height-1" style="list-style-type: '◆';">
        <span>Our offerings help to –</span>
        <li>Streamline operations</li>
        <li>Enhance productivity</li>
        <li> Foster collaboration</li>
        <li>Achieve goals with ease and innovation</li>
      </ul>
    </div>

    </div>
    
  </div>
</div>


<p-tabView class="mt-5">
  <p-tabPanel header="Auto Route Planning">
      <div class="header" class="flex flex-column md:flex-row w-90rem surface-ground">
          <div id="first" class="ml-7 ">
              <ul class="Route">Optimus: Auto Route Planning
                  <li class="w-50rem h-4rem text-sm line-height-1 m-3 bg-white text-bluegray-800 list-none pl-3 flex align-items-center bg-white p-2 border-round-md mb-4 p-3">Predictive solution for optimal vehicle and route planning, analyzing demand data to determine vehicle needs and create efficient delivery routes.</li>
                  <li class="w-50rem h-4rem text-sm line-height-1 m-3 bg-white text-bluegray-800 list-none pl-3 flex align-items-center bg-white p-2 border-round-md mb-4 p-3">Plans routes for ~400+ delivery locations within a minute, saving an hour compared to manual planning.</li>
                  <li class="w-50rem h-4rem text-sm line-height-1 m-3 bg-white text-bluegray-800 list-none pl-3 flex align-items-center bg-white p-2 border-round-md mb-4 p-3">Multiple configurations, including bulk weight and network effect, along with the option to input available vehicle types and numbers.</li>
                  <li class="w-50rem h-4rem text-sm line-height-1 m-3 bg-white text-bluegray-800 list-none pl-3 flex align-items-center bg-white p-2 border-round-md mb-4 p-3">User-friendly UI/UX to modify proposed routes based on the actual situation on the ground.</li>
              </ul>
          </div>
          <div class="img" class=" ml-6" style="height: 50%; width: 100%; border: 0;" >
              <img src="sone.png" alt="Image 1" >
          </div>
      </div>
  </p-tabPanel>
  <p-tabPanel header="Transport Management System" >
      <div class="header" class="flex flex-column md:flex-row w-90rem surface-ground">
          <div id="first" class="ml-7 ">
              <ul class="Route">Smart Trip - Total Transport Management System
                  <li>Vendor, Vehicle and Driver Onboarding: Supports seamless onboarding with validation using government APIs for GSTIN, banking, PAN, AADHAR, vehicle registration, and license details.</li>
                  <li>Trip Assignment and Tracking: Assign trips to vehicles and track them in real-time from start to final closure, including order delivery, proof of delivery, and COD collection.</li>
                  <li>Driver App: Designed for drivers, this tool ensures seamless deliveries with automated warehouse checks, route sequencing, material verification, real-time updates, and post-delivery processing.</li>
                  <li>Supervisor App: A command center for supervisors to manage delivery operations, including vehicle availability, trip assignment, real-time tracking, driver communication, and vendor registration.</li>
              </ul>
          </div>
          <div class="img" class=" ml-6" style="height: 50%; width: 100%; border: 0;">
              <img src="stwo.png" alt="Image 2">
          </div>
      </div>
  </p-tabPanel>
  <p-tabPanel header="Contract Management & Accounting Tool" >
      <div class="header" class="flex flex-column md:flex-row w-90rem surface-ground">
          <div id="first" class="ml-7 ">
              <ul class="Route">HiSaaB - Contract Management & Accounting Tool
                  <li>A comprehensive commercial and contract management tool for teams handling e-contracts across transport facilities within companies.</li>
                  <li>Vendor Commercial Management: HiSaaB streamlines vendor contract management with easy oversight across projects, tracking based on various parameters, and comparison to master contracts.</li>
                  <li>Approval of Contracts based on User Management: HiSaaB enhances contract approval security and accountability by restricting access to authorized personnel and streamlining authentication processes.</li>
                  <li>Billing and Cost Allocation: HiSaaB streamlines invoicing processes and offers advanced cost analysis tools for comprehensive trip expense evaluation and optimization of cost allocation strategies.</li>
              </ul>
          </div>
          <div class="img" class=" ml-6" style="height: 50%; width: 100%; border: 0;">
              <img src="sthree.png" alt="Image 3">
          </div>
      </div>
  </p-tabPanel>
  <p-tabPanel header="Dashboarding, Reporting & Trip Analysis" >
      <div class="header" class="flex flex-column md:flex-row w-90rem surface-ground">
          <div id="first" class="ml-7 ">
              <ul class="Route">Third Eye : Dashboarding, Reporting & Trip Analysis
                  <li>Empowers you with comprehensive analysis and analytics dashboards and reports by harnessing the capabilities of artificial intelligence and machine learning.</li>
                  <li>Dashboards provide insights on monthly trips, vehicle utilization, on-time delivery, order and revenue analysis, and CO2 emission savings.</li>
                  <li>Control Tower reports for data integrity and tech performance.</li>
                  <li>ML and AI solutions for quotations, customer savings, happiness index, and demand prediction.</li>
              </ul>
          </div>
          <div class="img" class=" ml-6" style="height: 50%; width: 100%; border: 0;">
              <img src="sfour.png" alt="Image 4">
          </div>
      </div>
  </p-tabPanel>
</p-tabView>

<app-footer />