<section class="contact-section" style="margin-top: 50px; width: 1312px; height: 384px;">
    <div class="contact-info">
        <div id="img" style="display: flex;">
        <img src="D.svg" width="22px" height="16px">
        <h2 style="font-size: 15px; margin-left: 8px;">CONTACT</h2>
    </div>
        <h1 style="font-size: 32px; line-height: 48px; margin-top: 40px;  color: #020202;">Get In Touch</h1>
        <p style="font-size: 14px; line-height: 20px; margin-bottom: 60px; margin-top: 8px;">Get in touch to learn more about our services and how we can help you achieve your goals.</p>
        <div class="contact-details">
            <div id="flex" style="display: flex;  ">
            <p><strong style="color: #9747FF;">Phone Number</strong><br>+91 77386 27566</p>
            <p><strong style="color: #9747FF; margin-left: 160px;">Email ID</strong><br><a style="margin-left: 160px;" href="mailto:info@datashaastra.com">infodatashaastra.com<img src="copy.png"></a></p>
        </div>
            <p style="color: #9747FF;">Working Days </p>
            <div style="display: flex; ">
            <div>
            <p style="line-height: 0;">Monday - Friday: </p>
            <p>9:00 - 17:00 hrs</p>
            </div>
            <div>
            <p style="line-height: 0; margin-left: 44px;">Saturday: </p>
            <p style="margin-left: 44px;">9:00 - 12:30 hrs</p>
        </div>
    </div>
        </div>
    </div>
    <div class="contact-form">
        <form>
            <label for="name">Your Name</label>
            <input  type="text" class="print-clean"  id="name" name="name" placeholder="Eg: John Doe">
            <label for="email">Your Email Address</label>
            <input type="email" class="print-clean" id="email" name="email" placeholder="Eg: youname@email.com">
            <label for="phone">Your Phone Number</label>
            <input type="tel" class="print-clean" id="phone" name="phone" placeholder="Eg: +91 12345 67890">
            <label for="message">Your Message</label>
            <textarea id="message" class="print-clean" name="message" placeholder="Your Message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<div class="main" style="width: 1312px; height: 410px; background-color: rgb(240, 240, 240); margin-top: 100px;">
    <div id="flex" style="display: flex; flex-direction: row;">
<div class="Hed" style="background-image: url('D&Blue.svg'); width: 421px; height: 410px;">
    <div id="text" style="color: white; padding-top: 40px; margin-left: 40px;">
        <h2 style="font-size: 32px;">Office Address</h2>
        <p style="margin-top: 16px; width: 341px; height: 60px; font-size: 14px;">603 B wing, Raheja plaza co-operative society Ltd. LBS road 400086 Ghatkopar West Mumbai, India.<br>Yatnavat Technologies Pvt. Ltd</p>
    </div>
</div>

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3770.290583909989!2d72.9174264!3d19.094904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDA1JzQxLjciTiA3MsKwNTUnMDIuNyJF!5e0!3m2!1sen!2sin!4v1722152308850!5m2!1sen!2sin" width="891" height="410" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</div>



<app-footer/>