<section class="mt-6 w-82rem flex flex-column md:flex-row contact-section " > <!--style="margin-top: 50px; width: 1312px; height: 384px;"-->
    <div class="contact-info" class="Flex  w-37rem">
        <div id="img" class="flex">
        <img src="D.svg" class="w-rem h-1rem mt-3">
        <h2 class="text-base ml-2 mt-3">CONTACT</h2> <!-- style="font-size: 15px; margin-left: 8px;"-->
    </div>
        <h1 class="text-4xl line-height-4 mt-4 text-color">Get In Touch</h1> <!-- style="font-size: 32px; line-height: 48px; margin-top: 40px;  color: #020202;""-->
        <p class="text-sm line-height-2 mb-7 mt-2">Get in touch to learn more about our services and how we can help you achieve your goals.</p> <!--style="font-size: 14px; line-height: 20px; margin-bottom: 60px; margin-top: 8px;"-->
        <div class="contact-details">
            <div id="flex" class="flex">
            <p><strong class="text-primary-600">Phone Number</strong><br>+91 77386 27566</p> <!--style="color: #9747FF;"-->
            <p><strong class="text-primary-600" style="margin-left: 160px;">Email ID</strong><br><a style="margin-left: 160px;" href="mailto:info@datashaastra.com">infodatashaastra.com<img src="copy.png"></a></p> <!--style="color: #9747FF; margin-left: 160px;"-->
        </div>
            <p class="text-primary-600">Working Days </p>
            <div class="flex">
            <div>
            <p style="line-height: 0;">Monday - Friday: </p>
            <p>9:00 - 17:00 hrs</p>
            </div>
            <div>
            <p class="ml-6" style="line-height: 0;">Saturday: </p>
            <p class="ml-6">9:00 - 12:30 hrs</p>
        </div>
    </div>
        </div>
    </div>
    <div class="contact-form">
        <form>
            <label for="name">Your Name</label>
            <input  type="text"class="print-clean text-900"  id="name" name="name" placeholder="Eg: John Doe">
            <label for="email">Your Email Address</label>
            <input type="email" class="print-clean text-900" id="email" name="email" placeholder="Eg: youname@email.com">
            <label for="phone">Your Phone Number</label>
            <input type="tel" class="print-clean text-900" id="phone" name="phone" placeholder="Eg: +91 12345 67890">
            <label for="message">Your Message</label>
            <textarea id="message" class="print-clean text-900" name="message" placeholder="Your Message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<div class="w-82rem h-26rem mt-6 text-bluegray-400 main	"> <!--style="width: 1312px; height: 410px; background-color: rgb(240, 240, 240); margin-top: 100px;" -->
    <div id="flex" class="flex flex-column md:flex-row	"> <!--style="display: flex; flex-direction: row;"-->
<div style="background-image: url('D&Blue.svg'); background-repeat:no-repeat; background-size:cover; background-position:center;">
    <div id="text" class="text-0 pt-4 ml-4"> <!-- style="color: white; padding-top: 40px; margin-left: 40px;"-->
        <h2  class="text-4xl">Office Address</h2> <!--style="font-size: 32px;"-->
        <p class="mt-1 w-21.31rem h-3rem text-sm">603 B wing, Raheja plaza co-operative society Ltd. LBS road 400086 Ghatkopar West Mumbai, India.<br>Yatnavat Technologies Pvt. Ltd</p> <!--style="margin-top: 16px; width: 341px; height: 60px; font-size: 14px;"-->
    </div>
</div>

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3770.290583909989!2d72.9174264!3d19.094904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDA1JzQxLjciTiA3MsKwNTUnMDIuNyJF!5e0!3m2!1sen!2sin!4v1722152308850!5m2!1sen!2sin"  width="891" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</div>

</div>

<app-footer/>