<div class="container" style="background-image: url('about_us_banner.png'); height: 600px; width:1440px;">
    <div class="start">
    <h1 style="font-size: 65px">About US</h1>
    <p style="font-size: 35px; padding-top: 40px;">State-of-the-Art Data analytics solutions across spectrum of industries.</p>
</div>
</div>
<div>
<h1 style="margin-left: 555px; color: blue;">Why DataShastra?</h1>
<p style="font-size:larger; margin-left: 225px; line-height: 0;">Data is crucial as it provides the foundation for informed decision-making, enabling businesses and individuals to analyze trends, optimize</p>
<p style="font-size: large; margin-left: 550px; ">processes, and drive innovation.</p>
</div>

<div>
    <p style="font-size:larger; margin-left: 150px;">DataShastra goes beyond industry limits, harnessing the extensive expertise and comprehensive knowledge of our founders, who have transformed </p>
    <p style="font-size:larger; margin-left: 450px; line-height: 1;">intra-city logistics by integrating technology throughout the entire logistics ecosystem.</p>
</div>

<div class="about-header">
    <img src="D.svg" alt="Logo">
    <h2 >Vision And Mission</h2>
  </div>

  <div class="container">
    <div class="box" style="padding: 3px;">
        <h2>Philosophy</h2>
        <p>In Sanskrit, "Shastra" signifies specialised knowledge in a defined area of practice. We embody this principle, crafting data-driven solutions that empower your business.</p>
    </div>
    <div class="box" style="padding: 3px;">
        <h2>Diverse Solutions</h2>
        <p>Our offerings go beyond logistics, delving into finance, retail, manufacturing, and beyond. We bring a toolkit of intelligent solutions customized for each industry's nuances.</p>
    </div>
    <div class="box" style="padding: 3px;">
        <h2>Commitment</h2>
        <p>We are committed to elevating businesses by unlocking the value hidden within their data and providing solutions aligned perfectly with business objectives.</p>
    </div>
</div>

<div class="about-header">
    <img src="D.svg" alt="Logo">
    <h2 >Our Investors</h2>
  </div>

<div class="investors">
    <div class="investor-logo">
        <img src="inv1.png" alt="Finspurt">
    </div>
    <div class="investor-logo">
        <img src="Sym-HEM.svg" alt="Finspurt">
    </div>
    <div class="investor-logo">
        <img src="Sym-inflection.svg" alt="HEM Angels">
    </div>
    <div class="investor-logo">
        <img src="Sym-Oni.svg" alt="Inflection Point Ventures">
    </div>
    <div class="investor-logo">
        <img src="Sym-v.svg" alt="Soonicorn Ventures">
    </div>
   
</div>

  
<app-footer/>