<div class="container" style="background-image: url('/assets/S04 - Optimization.svg'); background-repeat:no-repeat; background-size:cover; background-position:center;">
    <div class="start">
    <h1 class="text-7xl ml-7">Optimization</h1>
    <h6 class="text-5xl ml-7">Maximise Efficiency With Cutting Edge Optimization Models</h6>
    <p class="ml-7 text-base ">Our approach transcends traditional boundaries, combining deep industry insights with advanced mathematical modeling to transform complex business problems into solvable, optimized outcomes.</p>
</div>
</div>

<div class="Expertise">
    <h2 class="text-4xl text-primary mt-8 text-center">Mastering Optimization For Unmatched Productivity And Strategic Success</h2>
    <p class="text-lg pt-3 line-height-1 text-color	 text-center pr-5">DataShastra elevates your organization's efficiency, productivity, and innovation through expert optimization. With industry insight, </p>
    <p class=" text-lg pt-3 line-height-1 text-color text-center pr-4" style="margin-left: 8px;">mathematical precision, and cutting-edge tech, we surpass operational and strategic goals.</p>
</div>

<div class="container1">
    <diV class="flex-carousel">
    <div id="img">
        <img src="S04 - Optimization 02.svg">
    </div>
        
        
    <div class="carousel">
<p-carousel 
  [value]="products" 
  [numVisible]="4" 
  [numScroll]="4" 
  [circular]="true" 
  autoplayInterval="3000">
  <ng-template let-product pTemplate="item">
      <div class="custom-card">
          <img [src]="product.image" class="card-img-top" [alt]="product.title">
          <div class="card-body">
              <h6 class="card-title">{{ product.title }}</h6>
              <p class="card-text">{{ product.description }}</p>
          </div>
      </div>
  </ng-template>
</p-carousel>
</div>

</diV>
</div>


<div class="container-Compheresive-data" class="w-full surface-ground  mt-7">
        <h1 class="text-4xl text-primary text-center pt-7">
            AI-ML Based Solution Designing
        </h1>
        <div class="flex-Compheresive-data" class="flex flex-column md:flex-row justify-content-between ">

            <div class="image-Compheresive-data" class="w-27rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-search.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Understanding Your Case</span>

                <li class="pt-2	text-base ml-3">Thorough understanding of specific business context and challenges.</li>
                <li class="pt-2	text-base ml-3">Align closely with objectives</li>
                <li class="pt-2	text-base ml-3">Mathematically sound solutions</li>
                <li class="pt-2	text-base ml-3">Deep integration with strategic goals</li>

            </ul>
        </div>
        <div class="image-Compheresive-data" class="w-27rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-math-symbols.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Mathematizing Challenges</span>

                <li class="pt-2	text-base ml-3">Operations research and applied mathematics expertise.</li>
                <li class="pt-2	text-base ml-3"> Ensures effective solutions by leveraging-</li>
                <ul class="sub-Lists" class="text-color ml-3 p-2 line-height-2" style="list-style-type: '▪';">
                    <li>Convex optimization</li>
                    <li>Integer programming</li>
                    <li>Mixed-integer programming.</li>
                </ul>
            </ul>
        </div>

        <div class="image-Compheresive-data" class="w-27rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-line.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Advanced Optimization</span>

                <li class="pt-2	text-base ml-3"> Employ diverse solvers to-</li>
                <ul class="sub-Lists" class="text-color ml-3 p-2 line-height-2" style="list-style-type: '▪';">
                    <li>Simplex for efficiency</li>
                    <li>Simulation</li>
                    <li>ML-like genetic algorithms for innovation.</li>
                </ul>
            </ul>
        </div>
        
        </div>
    
</div>

