<div class="container" style="background-image: url('Blue.jpg'); height: 290px; width: 1312px;">
  <div class="main">
    <div class="left">
      <h1>Get to know more!</h1>
    </div>
    <div id="text">
      <p>Ready to transform your data into actionable insights? Contact DataShastra today. Our team is ready to assist you in navigating the data landscape and unlocking new opportunities for growth and innovation.</p>
    </div>
    <div id="copy">
      <p style="padding-bottom: 45 px;">Reach out to us at - <a href="infodatashastra.io">infodatashastra.io <img src="copy.png"></a></p>
    </div>
  </div>
  <form class="right" style="background: transparent; border: none;">
    <div class="name">
      <form class="asy">
        <mat-form-field   hideRequiredMarker type MatFormFieldAppearance='outer'>
          <mat-label>Your name</mat-label>
          <input matInput required>
        </mat-form-field>
        <mat-form-field class="spam" hideRequiredMarker>
          <mat-label>Your phone number</mat-label>
          <input matInput required>
        </mat-form-field>
      </form>
    </div>
    <div class="name1">
      <div id="psy" style="background: transparent;">
        <mat-form-field floatLabel="auto" hideRequiredMarker>
          <mat-label>Your email address</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>
      <mat-form-field class="add" floatLabel="auto" hideRequiredMarker>
        <mat-label>Your Message</mat-label>
        <input matInput required>
      </mat-form-field>
    </div>
    <form class="name2">
      <button mat-button style="color: white;">Submit</button>
    </form>
  </form>
</div>