* {
    /* margin: 0;
    padding: 0; */

    top: 0px;
    border-radius: 8px;
    
}


/* input {

    background-color: transparent  !important;
    border: none !important;
    color: blue !important;
  }
  mat-form-field {
    background-color: transparent !important;
  }
  mat-label {
    color: white !important;
  } */


.left{
    margin-top: 5px;
    left: 40px;
    position: relative;
    color: white;
}

.asy{
    margin-right: 87px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    appearance: standard;
}


.add{
    margin-right: 80px;
}
#psy{
    margin-right: 10px;
}

#copy img{
    padding-left: 15px;
    padding-top: 15px;
}

#copy p{
    padding-bottom: 250px;
}


#text{
  left: 40px;
  position: relative;
  width: 341px;
  color: white;
    height: 90px;
    font-style: normal;
    font-weight: 400; 
    font-size: 14px; 
    line-height: 20px
}
#copy{
    left: 40px;
    position: relative;
    color: white;

}

#copy a{
    color: white;
}

/* .container{
   
   
} */




.right{
    display: flex;
    flex-direction: column;

}
.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    left: 350px;
    padding-top: 25px;
    position: relative;

}

.name1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    left: 350px;
    padding-top: 25px;
    position: relative;

}

.name2{
    padding-top: 25px;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    left: 350px;
    position: relative;
    padding: 4px 40px 8px; 
    gap: 8px; 
    width: 129px; 
    height: 32px;
    border: 1px solid #FFFFFF; 
    border-radius: 16px; 
    flex: none; 
    order: 1; 
    flex-grow: 0;

}

/* form{
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white
} */

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: none !important;
}


.container { margin-left: 45px; margin-right: 45px; }

 @media only screen and (max-width: 768px) {
    .name,.name1 {
        left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .name2 {
        left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .left, #text, #copy {
        left: 12px;
    }
}


::ng-deep .mat-mdc-text-field-wrapper {

    width: auto;

}

@media only screen and (max-width: 768px){
    ::ng-deep .spam {
        margin-left: 0px !important;
    }
}