<div class="img" style="width: 1312px; height: 400px; margin-top: 40px;">
    <img src="Disha2.svg">
</div>

<div class="flex" style="display: flex; flex-direction: row; margin-top: 50px;">
    <div class="start" >
    <div id="1" style="height: 60px; width: 338px; ">
    <p style=" font-size: 20px; line-height: 0; margin-top: 21px;">Client</p>
    <p style="font-size: 16px; margin-top: 19px; color: #696969;">Leading E-commerce Companies</p>
    </div>

    <div id="2" style="height: 60px; width: 260px; ">
    <p style=" font-size: 20px; margin-top: 25px; line-height: 0;">Industry</p>
    <p style="font-size: 16px; margin-top: 19px; color: #696969; ">E-commerce and Delivery Services</p>
</div>
     
<div id="3" style="width: 382px; height: 86px; ">
    <p style=" font-size: 20px; margin-top: 24px; line-height: 0; ">Challenge</p>
    <p style="font-size: 16px; margin-top: 19px;  color: #696969;">Optimizing Route Planning and Data Accuracy - cost of Third-party tools</p>

</div>
</div>


<div class="Data-Driven" style="margin-left: 24px;">

<div>
   <h1 style="color: #1E00D3; font-size: 32px; line-height: 0; margin-top: 13px;">DISHA: Light-weight In-House Routing Solution</h1>
   <h6 style="font-size: 20px; color: #1E00D3; margin-top: 40px;">Overview</h6>
   <p style="margin-top: 8px;">In the fast-paced e-commerce sector, efficient logistics and precise delivery are critical to customer satisfaction and operational success. Leading e-commerce giants faced challenges with route optimization and data accuracy, affecting delivery speeds and customer service at an affordable cost. To address these issues, DataShastra introduced DISHA, a lightweight in-house routing solution designed to enhance computational performance and provide accurate road distance data.</p>

   <h6 style="padding-top: 40px; font-size: 20px; color: #1E00D3;">The Problem</h6>
   <p style="margin-top: 8px;">Our e-commerce clients requirerequired a solution to efficiently manage vast amounts of route data and enhance the accuracy of their logistics operations. The challenges included:
    Inefficient road distance calculations using conventional latitude and longitude mapping.
    Handling and cleaning noisy, inaccurate GPS data, which often led to suboptimal routing.
    A need for a system that could dynamically improve with new data inputs and provide actionable insights for route planning for missing legs.</p>

</div>
<div>
    <h6 style="font-size: 20px; color: #1E00D3; margin-top: 40px;">Our Solution: DISHA</h6>
    <p style="font-size: 14px; color: #696969; margin-top: 8px;">DISHA is being developed as an offline, scalable solution tailored to the needs of e-commerce logistics:</p>

    <p style="color: #363636; margin-top: 8px;">Advanced Area Mapping:</p>
    <p style="margin-top: 3px; color: #696969;">Instead of traditional methods, DISHA uses area mapping to reduce spatial data storage requirements and enhance computational speed.</p>
    
    <p style="color: #363636; margin-top: 8px;">Data Cleaning Capabilities:</p>
    <p style="margin-top: 3px; color: #696969;">It efficiently cleans and processes historical GPS data, filling in gaps and correcting errors to improve route accuracy.</p>
     
    <p style="color: #363636; margin-top: 8px;">Dynamic Improvement with Historical Data:</p>
    <p style="margin-top: 3px; color: #696969;">DISHA integrates historical trip data, which continuously refines its algorithms for better accuracy.</p>
    
    <p style="color: #363636; margin-top: 8px;">API-Driven Interactive Visualization:</p>
    <p style="margin-top: 3px; color: #696969;">With a simple API call, DISHA can visualize recommended routes and provide insights into mapped and unmapped regions of the country.</p>
</div>

<div>
    <h6 style="margin-top: 40px; color: #1E00D3; font-size: 20px;">Impact</h6>
    <p style="font-size: 14px; color: #696969; margin-top: 8px;">Implementing DISHA will provide significant improvements:</p>

    <p style="color: #363636; margin-top: 8px;">Reduced Computational Overhead:</p>
    <p style="margin-top: 3px; color: #696969;">By optimizing data handling, DISHA significantly reducescut down the time and resources needed for route calculations.</p>

    <p style="color: #363636; margin-top: 8px;">Improved Accuracy of Deliveries:</p>
    <p style="margin-top: 3px; color: #696969;">Enhanced GPS data accuracy led to better route planning, reducing delivery times and operational costs.</p>
  
    <p style="color: #363636; margin-top: 8px;">Dynamic Route Optimization:</p>
    <p style="margin-top: 3px; color: #696969;">As more data was fed into DISHA, its ability to suggest optimal routes improved, leading to a continuous cycle of enhancement.</p>

    <p style="color: #363636; margin-top: 8px;">Strategic Insights:</p>
    <p style="margin-top: 3px; color: #696969;">he visualization features of DISHA allowed our clients to strategically plan expansions into new geographic areas based on reliable data insights.</p>

</div>

<diV>
    <h6 style="margin-top: 40px; color: #1E00D3; font-size: 20px;">Conclusion</h6>
    <p style="margin-top: 3px; color: #696969;">DISHA will transform the way our e-commerce clients handle logistics and route planning. By providing a robust, data-driven solution that uses in-house data of clients, DISHA would not only optimize existing operations but also equip our clients with the tools to expand and improve their delivery networks efficiently without relying on market-based third-party tools. </p>
</diV>
   
</div>

</div>

<app-footer />