<div class="mt-5 ml-6 img" >
    <img src="Disha2.svg" style="width: 80%; border: 0;">
</div>

<div class="flex flex-column md:flex-row mt-6 ml-6">
    <div class="start" class="start h-18rem w-19rem  lg:w-23rem">
    <div id="1" class="h-4rem w-21rem">
    <p class="text-xl mt-4" style="line-height: 0;">Client</p>
    <p class="text-sm lg:text-base mt-5 text-color-secondary">Leading E-commerce Companies</p>
    </div>

    <div id="2" id="2" class="h-4rem w-16rem	">
    <p class="text-xl mt-4" style="line-height: 0;">Industry</p>
    <p class="text-sm lg:text-base mt-5 text-color-secondary">E-commerce and Delivery Services</p>
</div>
     
<div id="3" class="w-19rem lg:w-24rem h-5rem">
    <p class="text-xl mt-4" style="line-height: 0;">Challenge</p>
    <p class="text-sm lg:text-base mt-5 text-color-secondary">Optimizing Route Planning and Data Accuracy - cost of Third-party tools</p>

</div>
</div>


<div class="Data-Driven" class="ml-0 lg:ml-5">

<div>
   <h1 class="text-4xl text-blue-700">DISHA: Light-weight In-House Routing Solution</h1>
   <h6 class="text-xl text-blue-700 mt-5">Overview</h6>
   <p class="mt-2 text-color-secondary">In the fast-paced e-commerce sector, efficient logistics and precise delivery are critical to customer satisfaction and operational success. Leading e-commerce giants faced challenges with route optimization and data accuracy, affecting delivery speeds and customer service at an affordable cost. To address these issues, DataShastra introduced DISHA, a lightweight in-house routing solution designed to enhance computational performance and provide accurate road distance data.</p>

   <h6 class="pt-5 text-xl text-blue-700">The Problem</h6>
   <p class="mt-2 text-color-secondary">Our e-commerce clients requirerequired a solution to efficiently manage vast amounts of route data and enhance the accuracy of their logistics operations. The challenges included:
    Inefficient road distance calculations using conventional latitude and longitude mapping.
    Handling and cleaning noisy, inaccurate GPS data, which often led to suboptimal routing.
    A need for a system that could dynamically improve with new data inputs and provide actionable insights for route planning for missing legs.</p>

</div>
<div>
    <h6 class="text-xl text-blue-700 mt-5">Our Solution: DISHA</h6>
    <p class="mt-2 text-color-secondary">DISHA is being developed as an offline, scalable solution tailored to the needs of e-commerce logistics:</p>

    <p class="text-black-alpha-90 mt-2">Advanced Area Mapping:</p>
    <p class="text-color-secondary mt-1">Instead of traditional methods, DISHA uses area mapping to reduce spatial data storage requirements and enhance computational speed.</p>
    
    <p class="text-black-alpha-90 mt-2">Data Cleaning Capabilities:</p>
    <p class="text-color-secondary mt-1">It efficiently cleans and processes historical GPS data, filling in gaps and correcting errors to improve route accuracy.</p>
     
    <p class="text-black-alpha-90 mt-2">Dynamic Improvement with Historical Data:</p>
    <p class="text-color-secondary mt-1">DISHA integrates historical trip data, which continuously refines its algorithms for better accuracy.</p>
    
    <p class="text-black-alpha-90 mt-2">API-Driven Interactive Visualization:</p>
    <p class="text-color-secondary mt-1">With a simple API call, DISHA can visualize recommended routes and provide insights into mapped and unmapped regions of the country.</p>
</div>

<div>
    <h6 class="text-xl text-blue-700 mt-5">Impact</h6>
    <p class="mt-2 text-color-secondary">Implementing DISHA will provide significant improvements:</p>

    <p class="text-black-alpha-90 mt-2">Reduced Computational Overhead:</p>
    <p class="text-color-secondary mt-1">By optimizing data handling, DISHA significantly reducescut down the time and resources needed for route calculations.</p>

    <p class="text-black-alpha-90 mt-2">Improved Accuracy of Deliveries:</p>
    <p class="text-color-secondary mt-1">Enhanced GPS data accuracy led to better route planning, reducing delivery times and operational costs.</p>
  
    <p class="text-black-alpha-90 mt-2">Dynamic Route Optimization:</p>
    <p class="text-color-secondary mt-1">As more data was fed into DISHA, its ability to suggest optimal routes improved, leading to a continuous cycle of enhancement.</p>

    <p class="text-black-alpha-90 mt-2">Strategic Insights:</p>
    <p class="text-color-secondary mt-1">he visualization features of DISHA allowed our clients to strategically plan expansions into new geographic areas based on reliable data insights.</p>

</div>

<diV>
    <h6 class="text-xl text-blue-700 mt-5">Conclusion</h6>
    <p class="text-color-secondary mt-1">DISHA will transform the way our e-commerce clients handle logistics and route planning. By providing a robust, data-driven solution that uses in-house data of clients, DISHA would not only optimize existing operations but also equip our clients with the tools to expand and improve their delivery networks efficiently without relying on market-based third-party tools. </p>
</diV>
   
</div>

</div>

<app-footer />