<div class=" w-full xl:w-10  container"style="background-image: url('/assets/S06 - Consulting.svg'); background-repeat:no-repeat; background-size:cover; background-position:center;">
    <div class="start">
    <h1 class="text-2xl lg:text-6xl ml-3 lg:ml-7 ">Business Consulting</h1>
    <h6 class="text-xl  lg:text-5xl ml-3 lg:ml-7 mt-3 lg:mt-0">Helping You Navigate Analytics Journey With Expertise</h6>
    <p class="ml-3 lg:ml-7 text-sm lg:text-base">Our expert guidance and partnership in navigating complex analytics challenges across various industries, empowering businesses to thrive through strategic foresight and operational excellence.</p>
</div>
</div>

<div class="Expertise">
    <h2 class="text-4xl text-black-alpha-90 lg:text-primary mt-8 text-center">Comprehensive Suite Of Consulting Services By DataShastra</h2>
    <p class="text-lg pt-3 line-height-1 text-color	 text-center pr-5">DataShastra Consulting is your trusted partner, providing the expertise and tailored solutions necessary to navigate the complex path to </p>
    <p class=" text-lg pt-3 line-height-1 text-color	text-center pr-4" style="margin-left: 8px;">analytics excellence and strategic success, empowering your business to thrive in today's competitive landscape with confidence.</p>
</div>

<div class="container1">
    <diV class="flex-carousel">
    <div id="img">
        <img src="S06 - Consulting 02.svg">
    </div>
        
        
    <div class="carousel">
<p-carousel 
  [value]="products" 
  [numVisible]="3" 
  [numScroll]="3" 
  [circular]="true" 
  autoplayInterval="3000">
  <ng-template let-product pTemplate="item">
      <div class=" custom-card">
          <img [src]="product.image" class="card-img-top" [alt]="product.title">
          <div class="card-body">
              <h6 class="card-title">{{ product.title }}</h6>
              <p class="card-text">{{ product.description }}</p>
          </div>
      </div>
  </ng-template>
</p-carousel>
</div>

</diV>
</div>


<div class="container-Compheresive-data" class="w-full surface-ground  mt-7">
        <h1 class="text-4xl text-primary text-center pt-7">
            Our Framework
        </h1>
        <div class="flex-Compheresive-data" class="flex flex-column md:flex-row justify-content-between ">
            <div class="image-Compheresive-data"class="w-19rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-brand-safari.svg" alt="rotate">
            <ul class="Lists-Compheresive-data"  class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Discovery And Assessment</span>

                <li class="pt-2	text-base ml-3">Understand business, challenges, and goals via-</li>
                <ul class="sub-Lists" class="sub-Lists" class="text-color ml-3 p-2 line-height-2" style="list-style-type: '▪';">
                <li>Interviews and data review</li>
                <li>Analysis of the business environment and competitive landscape</li>
                </ul>
                
            </ul>
        </div>
        <div class="image-Compheresive-data" class="w-19rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem"  src="tabler-icon-checklist.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title"  class="text-2xl text-primary line-height-2">Strategy Development</span>

                <li class="pt-2	text-base ml-3"> Develop actionable strategies</li>
                <li class="pt-2	text-base ml-3"> Align business goals with defined roadmap</li>
                <li class="pt-2	text-base ml-3">Formulate strategic initiatives</li>
                <li class="pt-2	text-base ml-3">Utilize data analytics and industry insights to support strategy recommendations</li>
            </ul>
        </div>
        <div class="image-Compheresive-data"  class="w-19rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-layout-dashboard.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Solution Implementation</span>

                <li class="pt-2	text-base ml-3"> Implement the agreed-upon solutions</li>
                <li class="pt-2	text-base ml-3">Monitor effectiveness with measurable outcomes</li>
                <li class="pt-2	text-base ml-3">Oversee the deployment of technologies,</li>
                <li class="pt-2	text-base ml-3">Restructuring of operations</li>
            </ul>
        </div>
        <div class="image-Compheresive-data" class="w-19rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-chart-histogram.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Monitoring and Optimization</span>

                <li class="pt-2	text-base ml-3">Ensure implemented solutions deliver desired outcomes</li>
                <li class="pt-2	text-base ml-3">Make improvements via Establishing key performance indicators (KPIs)</li>
                <li class="pt-2	text-base ml-3">Set up monitoring systems to track progress</li>
                <li class="pt-2	text-base ml-3">Continuous improvement based on data-driven insights</li>
            </ul>
        </div>
        </div>
    
</div>

