<nav class="navbar fixed-navbar">
    <div class="navbar-content">
      <a routerLink="/dashboard" routerLinkisActive="active" (click)="goBack()" class="back-button">
        &#8592; </a> 
        <p class="text-xl">Privacy Policy</p>
      
    </div>
</nav>

<router-outlet/>
<div class="privacy-content mt-5 ml-4 text-base mr-3">
    <p>
      DataShastra.io (referred as Company or "we" or "us" or "our") is the owner of the website domain at https://www.datashastra.io/, and any service availed by Users (hereinafter
referred to as "you", "your" or "User") through the Platform is conditioned upon your acceptance of the terms and conditions contained in Terms of Service as available on Platform
and this privacy policy ("Privacy Policy").
<br>
<br>
THIS PRIVACY POLICY IS AN ELECTRONIC RECORD IN THE FORM OF AN ELECTRONIC CONTRACT FORMED UNDER THE INFORMATION TECHNOLOGY ACT, 2000 AND THE
RULES MADE THEREUNDER AND THE AMENDED PROVISIONS PERTAINING TO ELECTRONIC DOCUMENTS / RECORDS IN VARIOUS STATUTES AS AMENDED BY THE
INFORMATION TECHNOLOGY ACT, 2000 OR ANY RELEVANT STATUTE OR REGULATION UNDER ANY APPLICABLE JURISDICTION. THIS PRIVACY POLICY DOES NOT REQUIRE ANY
PHYSICAL, ELECTRONIC OR DIGITAL SIGNATURE.
<br>
<br>
The purpose of this Privacy Policy is to ensure that there is an intact charter to collect, use and protect any personal and/or sensitive data collected by us. This Policy defines our
procedure for collection, usage, processing, disclosure and protection of any information obtained by us through the Platform. Capitalized terms that are not defined in this Privacy
Policy shall have the same meaning as ascribed to them in our Terms of Service. Any reference made to Privacy policy in this document shall mean and refer to the latest version
of the Privacy Policy
    </p>
    <br>
<h3 class="text-color mb-2"> 1. CONSENT</h3>
<p>
THIS PRIVACY POLICY IS A LEGALLY BINDING DOCUMENT BETWEEN YOU AND THE COMPANY. THE TERMS OF THIS PRIVACY POLICY WILL BE EFFECTIVE UPON YOUR
ACCEPTANCE OF THE SAME OR BY YOUR USE OF OUR SERVICES AND WILL GOVERN THE RELATIONSHIP BETWEEN COMPANY AND YOU FOR YOUR USE OF THE PLATFORM
AND OUR SERVICES.<br>
PLEASE READ THIS PRIVACY POLICY CAREFULLY AS IT AFFECTS YOUR RIGHTS AND LIABILITIES UNDER LAW. BY USING THIS PLATFORM AND AVAILING OUR SERVICES, YOU
INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT USE
THIS WEBSITE OR AVAIL OUR SERVICES.<br>
Please be advised that any Information procured by us, shall be:
. processed fairly and lawfully for rendering the Services;
. obtained only for specified and lawful purposes;
. adequate, relevant and not excessive in relation to the purpose for which it is required;
. able to be reviewed by the User, from time to time and updated-if need arises; and
. not kept longer than for the time which it is required or the purpose for which it is required or as required by the applicable law.
If you do not agree with this Privacy Policy, you may refuse or withdraw your consent any time, or alternatively choose to not provide us with any Personal Information, you
understand that under such circumstance, we may be unable to render Services. Any such intimation to withdraw your consent can be sent to <a href="#">info&#64;datashastra.jo </a>.
<br>
<br>
WE SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGE SUSTAINED BY REASON OF ANY DISCLOSURE (INADVERTENT OR OTHERWISE) OF ANY DATA, IF THE SAME IS EITHER (A)
REQUIRED FOR SHARING YOUR INFORMATION FOR LEGITIMATE PURPOSES; OR (B) WAS CAUSED THROUGH NO FAULT, ACT, OR OMISSION OF THE COMPANY.
</p>
<br>
<h3 class="text-color mb-2">2. TYPES OF INFORMATION COLLECTED BY US</h3> 
<p>
. "Personal Data" means and includes any Information that relates to a natural person through which an individual is identified, such as the name, contact details, email address,
gender, age, organisation name, organisation email id, demographic information such as address and pin code, any photo identity or any other information relevant to product
choice and preferences provided by a User, including but not limited to information gathered through availing Services.
. "Sensitive Personal Data" as such term is defined under the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data of Information)
Rules, 2011 enacted under the Information Technology Act, 2000.<br>
. "Technical Information" means and includes any Information gathered through various technologies that may employ cookies, web beacons, or similar technologies to
automatically record certain information from your device through which you use the Platform. This technical information may include your Internet Protocol (IP) address, device or
browser type, Internet service provider (ISP), referring or exit pages, clickstream data, operating system, hardware model, operating system version, unique device identifiers, and
mobile network. This data includes usage information and user statistics.<br>
. "Locational Information" shall mean and include the information obtained through GPS or other means, such as the geographical location of the User.<br>
. "Social Media Data" If you access the Platform through a third-party platform such as a social media service or connect Our Services to a third-party platform, the Information we
collect may include your user name associated with that third-party platform, any information or content the third-party platform has the right to share with Us, such as your profile
picture, email address or friends list, and any information you have made public in connection with the respective third-party platform. When you access the Platform through third-
party platform, you are authorizing us to collect, store, and use and retain such information from the third-party platform in accordance with this Privacy Policy.<br>
. "Non-Personal Information"<br>
o "Information collected through use of our Service" means and includes generic and non-identifying information which is shared with us to avail our Services.<br>
o "Non-Personal Information" means and includes any information that does not reveal your specific identity, such as, browser information, information collected through Cookies
(as defined below), pixel tags and other technologies, demographic information, etc. As is true with most websites, our Company gathers some information automatically when you
visit the Platform. When you use the Platform, we may collect certain information about your computer or mobile to facilitate, evaluate and verify your use of the Platform. For
example, we may store environmental variables, such as browser type, operating system, speed of the central processing unit (CPU), referring or exit web pages, click patterns. This
information is generally collected in aggregate form, without identifying any User individually.<br>
(The Sensitive Personal Data, Technical Information, Locational Information and Non-Personal Information are collectively referred to as "Information").
</p>
<br>
<h3 class="text-color mb-2">
3. COLLECTION AND STORAGE OF INFORMATION
</h3>

<p>3.1. Information may be collected in various ways including during the course of you registering as a User on the Platform, or availing certain Services offered on the Platform.<br>
3.2. We may receive Information about you from third-party platform, such as social media platforms, marketing and advertising firms, commercially available sources and
business partners to whom you have consented disclosure of such Information.<br>
3.3. Please do note that each category of Information may be treated differently as per this Privacy Policy.</p>

<br>
<h3 class="text-color mb-2">4. PURPOSE FOR COLLECTING OF INFORMATION</h3>

<p>4.1. The Company collects, uses, stores and processes your Information for any purpose as may be permissible under applicable laws (including where the applicable law provides
for such collection, usage, storage or processes in accordance with the consent of the User) and shall include the following:<br>
i) to render Services and facilitate your use of the Platform;<br>
ii) to respond to your inquiries or fulfil your requests for information about the various Services offered on the Platform;<br>
iii) to provide you with information about Services available on the Platform and to send you information, materials, and offers;<br>
iv) to send you important information regarding the Platform, changes in terms and conditions, user agreements, and policies and/or other administrative information;<br>
v) to send you surveys and marketing communications;<br>
vi) to improve user experience<br>
vii) to help you address your problems incurred on the Platform including addressing any technical problems;<br>
viii) to protect the integrity and for proper administering of the Platform;<br>
ix) to conduct academic research, surveys, analytical studies on various aspects including user behaviour, user preferences etc .;<br>
x) to respond to legal, judicial, quasi-judicial process and provide information to law enforcement agencies or in connection with an investigation on matters related to public
safety, as permitted by law;<br>
xi) to implement information security practices;<br>
xii) to determine any security breaches, computer contaminant or computer virus;<br>
xiii) to investigate, prevent, or take action regarding illegal activities and suspected fraud,<br>
xiv) to enable a potential buyer or investor to evaluate the business of the Company.<br>
xv) Business or Research Purposes: The Information saved and except Sensitive Personal Information, is used for business or research purposes, including improving and
customizing the Platform for ease of use and the products and services offered by us. We may archive this information to use it for future communications for providing updates
and/or surveys.<br>
xvi) Aggregating Information / Anonymized data: We may aggregate Information and analyse it in a manner to further accentuate the level of services that we offer to our
customers. This Information includes average number of Users of the Platform, the average clicks of the services/, the features used, the response rate, etc. and other such
statistics regarding groups or individuals. In doing so, we shall not be making disclosures of any Sensitive Personal Information as defined above.<br>
[Individually and collectively referred to as ("Legitimate Purposes")]</p>

<br><h3 class="text-color mb-2">5. SHARING AND DISCLOSURE OF YOUR INFORMATION</h3>

<p>
5.1. We do not rent, sell or disclose or share any Information that we collect from you, with third parties, save and except in order to provide you with the Services. Any such
disclosure, if made, shall be in accordance to this Privacy Policy and as per the procedure prescribed by law and in compliance with our legal obligations. We may share your
Information in circumstances and for the purposes as specified hereunder:<br>
5.2. We shall share the information to the third-party service providers/ vendors, to provide you with the Services.<br>
5.3. We may disclose any Information provided by you on the Platform as may be deemed to be necessary or appropriate:<br>
· under applicable law, including laws outside your country of residence;<br>
. to comply with legal process;<br>
. to respond to requests from public and government authorities including public and government authorities including public and government authorities outside your country of
residence;<br>
. to protect our operations or those of any of our affiliates;<br>
. to protect our rights, privacy, safety or property, and/that of our affiliates, you or others;<br>
. to allow us to pursue available remedies or limit the damages that we may sustain; or<br>
· to protect against legal liability;<br>
. to protect the personal safety of Users of the Platform;<br>
. to prevent or investigate possible wrongdoing in connection with the Platform.<br>
5.4. Merger or Acquisition: We may share Information upon merger or acquisition of Company with another company. We shall transmit and transfer the Information upon
acquisition or merger of Company with another company.<br>
5.5. With our service providers: We may share Information with other service providers on a need-to-know basis, subject to obligations of confidentiality for provision of Services.
We hereby clarify that we work with institutions, vendors, partners, advertisers, and other service providers, including (but not limited) to those who provide products or services
such as contact Information verification, website hosting, data analysis, providing infrastructure, information technology services, auditing services and other similar services, in
different industries and categories of business by virtue of lawful contracts instituted between such third parties and Company to improve our product and services. Accordingly,
we may share your Information with such service provider in order to provide you with Services.<br>
5.6. We may transfer/disclose/share Information (other than Your Personal Information) to those parties who support Our business, such as providing technical infrastructure
services, analyzing how our Services are used, providing merchants services, facilitating payments, or conducting academic research and surveys. These affiliates and third-party
service providers shall adhere to confidentiality obligations consistent with this Privacy Policy<br>
5.7. Employees /Agents of Company: We follow a strict confidentiality policy with regard to disclosure of confidential information to our employees or other personnel. There may
be situations, where we may disclose the confidential information only to those of our employees and other personnel on a need-to-know basis. Any breach of confidential
information by the employees, personnel within the Company is dealt with stringently by us.<br>
5.8. Except for the Information disclosed pursuant to this section, Company may share Information only if you authorize us to do so.</p>
<br><h3 class="text-color">6. LINK TO OTHER WEBSITES AND THIRD-PARTY SERVICES</h3>

<p>6.1. Our Platform may provide links to other sites. These links are provided for your convenience only and the provision of these links does not mean that sites are related or
associated with us. Please note that these sites have their own terms of use and privacy policy. You should check their privacy policy before you submit Your Personal Information
or any other data with them. We don't guarantee the content and the security of those sites.<br>
6.2. We may have certain features on our Platform which may be hosted by third parties, your interaction with such features shall be governed by the privacy policy of such third
parties.<br>
6.3. We shall not be responsible for any loss, damage, claim or expense caused as a result of you accessing these third-party sites and features.<br>
6.4. We may use your Information to send you promotional Information about third parties which, we think you may find interesting, if you tell us that you wish this to happen. We
shall not be responsible for any disclosure of Information due to unauthorized third-party access or other acts of third parties or acts or omissions beyond our reasonable control
and you agree that you will not hold us responsible for any breach of security unless such breach has been caused as a direct result of our negligence or wilful default.<br>
6.5. We use support services of third-party platforms and/or companies to direct you to payment gateways when you opt to pay for our Services. Your financial information is
collected, stored and retained by such third-party platforms. We and such designated third-party platforms undertake measures designed to provide a security level that is
appropriate to the risks of processing your personal information. However, you are requested to check and consent to the "Privacy Policy" of such third-party platforms in order to
accept how such third-party platforms handle your Information.</p>

<br><h3 class="text-color mb-2">7. CHILDREN'S PRIVACY</h3>

<p>
Our Services are not meant to be used by Children (as defined by applicable privacy laws for a particular jurisdiction). We do not knowingly collect Personal Information relating to
children and if you think that Your child has provided this kind of information on our Platform, we strongly encourage you to contact us immediately and we will take reasonable
steps to promptly remove or destroy such information.</p>
<br><h3 class="text-color mb-2">8. DATA PROTECTION RIGHTS</h3>

<p>8.1. You have certain rights available to you when it comes to your Personal Information. Subject to any exemptions provided by the applicable laws, you have the following rights:<br>
8.1.1. Rectifying, correcting, updating and removing Your information:<br>
You can access, edit, modify and/or update your Personal Information by logging into your user profile or you can write to us via email in case you wish to exercise this right.<br>
8.1.2. Accessing and updating or deleting Your information:<br>
Our Services and related documentation on our Platform provide you with the ability to access, update and delete certain Personal Information from your Account, if any. We will
provide you with information about whether we hold any of your Personal Information upon request. We will respond to such requests within a reasonable timeframe. Please note,
however, that we may need to retain certain information for record keeping purposes, to complete our Services and related obligations to you or to comply with our legal
obligations.<br>
8.1.3. Object or restrict processing of Your information:<br>
You have the right to: (i) object to our processing of your Personal Information; and/or (ii) request that we restrict the processing of your Personal Information.<br>
8.1.4. Portability:<br>
You shall have the right to request us to transfer Your Personal Information to another controller, or directly to you, in a structured, commonly used and machine-readable format.<br>
8.2. In order to exercise these rights, please contact us on info&#64;datashastra.io.</p>

<br><h3 class="text-color mb-2">9. STORAGE AND TRANSFER OF INFORMATION</h3>
<p>
Your Information will primarily be stored in electronic form; provided, however, that certain data can also be stored in physical form. We may store, collect, process and use your
data in countries other than Republic of India but under compliance with applicable laws. We may enter into agreements with third parties (in or outside of India) to store or
process your information or data. These third parties may have their own security standards to safeguard your information or data and we will on commercial reasonable basis
require from such third parties to adopt reasonable security standards to safeguard your information / data.</p>

<br><h3 class="text-color mb-2">10. COOKIES AND OTHER TRACKING TECHNOLOGIES</h3>

<p>10.1. Our Platform may utilize "cookies" and other Technical Information. "Cookies" are a small text file consisting of alphanumeric numbers used to collect the Information about
Platform activity. The Technical Information helps us analyse web traffic and helps you by customizing the Platform to your preferences. Cookies in no way gives us access to your
computer or mobile device. In relation to Cookies, you can deny access to the installation of the Cookies by modifying the settings on your web browser, however, this may prevent
you from taking full advantage of the Platform.<br>
10.2. Our use of Cookies and Technical Information allows us to improve Platform and your experience of Platform and Services. We may also analyse Technical Information that
does not contain Sensitive Personal Information for trends and statistics.</p>

<br><h3 class="text-color mb-2">11. DATA RETENTION</h3>

<p>We will retain your Information for as long as your Account is active or as needed to provide our Services. We shall retain and use the Information collected by us as necessary to
comply with our legal obligations, resolve disputes or for other Legitimate Purposes. If you cancel/ deactivate/ unsubscribe your account with us, we are not under any obligation
to retain your Information. However, may retain the Information pertaining to the User for the maximum period permitted under the law of the land from the date of deactivation of
User's Account.</p>

<br><h3 class="text-color mb-2">12. SECURITY MEASURES AND SAFEGUARDS</h3>

<p>
You agree and accept that your Information may be stored in third-party cloud service infrastructure providers. While all reasonable attempts have been taken from our end to ensure the safe and
secure storage of your data, we shall not be liable for any data breach on the part of the third-party cloud service infrastructure provider that was beyond our control. In addition to the security
measures put in place by the third-party cloud service infrastructure provider for safe and secure storage of your Information, we use certain physical, managerial, technical or operational safeguards
as per industry standards and established best practices to protect the Information we collect. We use reasonable security practices and procedures and use secure servers as mandated under
applicable laws for the protection of your Information. We review our Information collection, storage, and processing practices, including physical security measures to guard against unauthorized
access to systems. However, as effective as these measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that the Information
you supply will not be intercepted while being transmitted to us over the internet. However, since the internet is not a 100% secure environment, we on best effort basis ensures the security of any
information the User transmits to us and that the information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. Please note
that e-mails and other communications the User sends to us through our Platform are not encrypted, and we strongly advise the User not to communicate any confidential information through these
means.</p>
<br><h3 class="text-color mb-2">13. UPDATES TO THIS PRIVACY POLICY</h3>

<p>We may change the data privacy practices and update this Privacy Policy as and when the need arises, and the same will be made available on the Platform. But our commitment to protect your
privacy will continue to remain. We suggest that you regularly check this Privacy Policy to apprise yourself of any updates. Your continued use of Platform and Services or provision of Information
thereafter will imply your unconditional acceptance of such updates to this Privacy Policy. Further, we retain the right at any time to deny or suspend access to all, or any part of, the service to anyone
who we reasonably believe has violated any provision of this Privacy Policy.</p>

<br><h3 class="text-color mb-2">14. MISCELLANEOUS</h3>

<p>
ENFORCEABILITY OF THE REMAINDER OF THIS PRIVACY POLICY. THIS PRIVACY POLICY DOES NOT APPLY TO ANY INFORMATION OTHER THAN THE INFORMATION COLLECTED BY US THROUGH
THE PLATFORM. THIS PRIVACY POLICY SHALL BE INAPPLICABLE TO ANY UNSOLICITED INFORMATION YOU PROVIDE US THROUGH THE PLATFORM OR THROUGH ANY OTHER MEANS. ALL
UNSOLICITED INFORMATION SHALL BE DEEMED TO BE NON-CONFIDENTIAL AND WE SHALL BE FREE TO USE AND/ OR DISCLOSE SUCH UNSOLICITED INFORMATION WITHOUT ANY LIMITATIONS.
THE RIGHTS AND REMEDIES AVAILABLE UNDER THIS POLICY MAY BE EXERCISED AS OFTEN AS NECESSARY AND ARE CUMULATIVE AND NOT EXCLUSIVE OF RIGHTS OR REMEDIES PROVIDED BY
LAW. RIGHTS UNDER THIS POLICY MAY BE WAIVED ONLY IN WRITING. DELAY IN EXERCISING OR NON-EXERCISE OF ANY SUCH RIGHT OR REMEDY DOES NOT CONSTITUTE A WAIVER OF THAT
RIGHT OR REMEDY, OR ANY OTHER RIGHT OR REMEDY.</p>

<br>
<h3 class="text-color mb-2">15. GRIEVANCE OFFICER</h3>
<p>

In furtherance of the Information Technology Act, 2000 ("IT Act") and the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021 ("Intermediary Guidelines") a
grievance officer is appointed to ensure compliance with the IT Act and the Intermediary guidelines.<br>
Name: Umesh Singh<br>
Address: 3B-23, Kalpataru Aura, LBS Marg, Ghatkopar West, Mumbai 400086<br>
Phone: 9869405500<br>
Email: umesh.singh&#64;datashastra.io<br>
The grievance officer shall revert to every complaint within 24 hours of receipt of the complaint. Further, the Company shall take best possible efforts to redress the complaint within 15 days of
receipt of the complaint. Any suggestions by Company regarding use of the Services shall not be construed as a warranty.<br>
Please feel free to reach out to us by e-mail at <a href="#">info&#64;datashastra.jo </a> in case of any concerns, grievances, or questions relating to our privacy or data related practices
</p>
   
  </div>
