* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1500px;
}
.container1{
  margin-top: 20px;
}

.flex-Philosophy{
  display: flex;
  flex-direction: row;
}

.h2[_ngcontent-ng-c339650451] {
  color: #333;
  width: 241px;
}

h2[_ngcontent-ng-c4063107642] { color: #333; margin-bottom: 455px;
}

.header[_ngcontent-ng-c4063107642] img[_ngcontent-ng-c4063107642] { margin-right: 10px; margin-bottom: 445px; 
}


.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row1{
  display: flex;
  flex-direction: row;

}


.header img {
  margin-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column1{
  width: 540px;
  height: 250px;
  margin-left: 185px;

}

.column2{
  width: 440px;
  height: 250px;

}

.column1 h5{
  font-size:xx-large;
}

.column1 p{
  font-size: 30px;
  color: black;
}
.column1 ul{
  font-size: 15px;
}

.column2 h5{
  font-size: xx-large;
}

.column2 p{
  font-size: 30px;
  color: black;
}

.column2 ul{
  font-size: 15px;
}


.flex-header{
  display: flex;
  flex-direction: row;
} 


.column {
  width: 1200px;
  height: 125px;
  margin-top: 0px;
  margin: 10px;
  padding: 20px;
  margin-left: 20px;
  background-color: #f9f9f9;
} 


.column img {
  vertical-align: middle;
  margin-right: 10px;
}

h2, h5, p {
  margin: 10px 0;
}


h5 {
  color: #4f4fe4;
  font-size: large;
}

.section-content {
  overflow: hidden;
}

.section-content p {
  margin-top: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  position: relative;
  padding-left: 10px;
  margin-bottom: 10px;
}

ul li:before {
  content: '-';
  position: absolute;
  left: 0;
  color: black;
}

.two-columns {
  display: flex;
  flex-wrap: wrap;
}
.two-columns li {
  width: 50%;
  list-style-type: none;
}


.list {
  display: flex;
  flex-wrap: wrap;
}


.list-item {
  flex: 1;
  min-width: 200px;
}

.list-item2 {
  margin-right: 100px;
}



@media only screen and (min-width:768px){
    .add{
      height: 1800%;
    }
}

