<div class="container" style="margin-top: 50px;">
  <div class="header">
  <img src="D.svg" alt="Logo">
   <h2 style="margin-left: 5px;">PHILOSOPHY AND EXPERTISE</h2>
  </div>
    <div class="row">
      <div class="column">
        <img src="Vector.svg" height="21" width="21" alt="Philosophy Icon">
        <div class="section-content">
          <h5>Philosophy</h5>
          <p>In Sanskrit, "Shastra" signifies technical or specialised knowledge in a defined area of practice. At DataShastra, we embody this principle, crafting data-driven solutions that empower your business. Our team, with vast experience in Data Analysis, Analytics and Machine Learning, is dedicated to turning complex data into actionable insights.</p>
        </div>
      </div>
  
      <div class="column">
        <img src="tabler-icon.svg" height="21" width="21" alt="Expertise Icon">
        <div class="section-content">
          <h5>Expertise</h5>
          <p>With broad industry experience in Manufacturing, Real Estate, and Banking/NBFC, we excel in solving cross-industry problems, specializing in Logistics and Credit Domain(s). Trust our expertise to navigate the intricate data landscape for delivering tailored solutions for precision, efficiency, and innovation.</p>
        </div>
      </div>
    </div>
    
    <div class="header">
    <img src="D.svg" alt="Logo">
    <h2  style="margin-left: 5px;">Experience</h2>
  </div>
    <div class="row">
      <div class="column">
        <div class="space">
        <img src="D.svg" alt="Logo">

        <h5 style="position: relative; bottom: 10px;">21 Projects Deployed</h5>
      </div>
        <ul>Tailored solutions to meet your specific needs-
          <div class="list">
          <div class="list-item">
          <li>Enterprise-wide Data Transformation</li>
          <li>Inventory Management</li>
          <li>Small-scale Analysis & Analytics</li>
         </div>

         <div class="list-item2">
          <li>Demand Prediction</li>
          <li>Dynamic Pricing</li>
         </div>
        </div>
        </ul>
      </div>
  
      <div class="column">
        <div class="space">
        <img src="D.svg" alt="Logo">
        <h5 style="position: relative; bottom: 10px;">8 Sectors Catered</h5>
        </div>
        <ul>Our experience ensures understanding of the nuances and specific requirements across listed sectors-
          <div class="list">
            <div class="list-item">
          <li>Logistics</li>
          <li>Banking</li>
          <li>Manufacturing</li>
        </div>
          
        <div class="list-item2">
          <li>NBFC</li>
          <li>Quick Commerce</li>
          <li>FMCG</li>
         </div>
        </div>
        </ul>
      </div>
    </div>
    
  </div>