<div class="w-full xl:w-10 container" style="background-image: url(ds_data_trasf.png); background-repeat:no-repeat; background-size:cover; background-position:center;">
    <div class="start">
    <h1 class="text-2xl lg:text-6xl ml-3 lg:ml-7 ">Data Transformation</h1>
    <h6 class="text-xl  lg:text-5xl ml-3 lg:ml-7 mt-3 lg:mt-0 ">Improve Your Data Quality To Unlock It's True Potential</h6>
    <p class="ml-3 lg:ml-7 text-sm lg:text-base ">Our Data Transformation services are designed to make your data ready for ML, ensuring it's not just data, but a potent tool for innovation and insight.</p>
</div>
</div>

<div class="Expertise">
    <h2 class="text-4xl text-black-alpha-90 lg:text-primary mt-8 text-center">DataShastra's Expertise On Data Transformation</h2>
    <p class="text-lg pt-3 line-height-1 text-color	 text-center pr-5">With your data cleaned, integrated, and stored, we structure it in a way that is optimized for machine learning. This involves transforming the</p>
    <p class=" text-lg pt-3 line-height-1 text-color	text-center pr-4" style="margin-left: 8px;">data into formats that ML algorithms can process efficiently, ensuring that you get the most out of your AI initiatives.</p>
</div>

<div class="container1"> 
    <div class="flex-carousel">
        <div id="img">
            <img src="Bright.png" alt="Image" > 
        </div>
        <div class="carousel">
            <p-carousel 
                [value]="products" 
                [numVisible]="3" 
                [numScroll]="3" 
                autoplayInterval="2000">
                <ng-template let-product pTemplate="item">
                    <div class="custom-card">
                        <img [src]="product.image" class="card-icon" [alt]="product.title">
                        <div class="card-content">
                            <h6 class="card-title">{{ product.title }}</h6>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>


<div class="container-Compheresive-data" class="w-full surface-ground  mt-7">
        <h1 class="text-4xl text-primary text-center pt-7">
            Comprehensive Data Transformation Framework
        </h1>
        <div class="flex-Compheresive-data" class="flex flex-column md:flex-row justify-content-between ">
            <div class="image-Compheresive-data" class="w-23rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-3d-rotate.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Cleaning and Processing</span>

                <li class="pt-2	text-base ml-3">Cleansing data</li>
                <li class="pt-2	text-base ml-3">Rectifying errors</li>
                <li class="pt-2	text-base ml-3">Eliminating duplicates and incomplete entries</li>
                <li class="pt-2	text-base ml-3">Enhancing data accuracy and reliability</li>
            </ul>
        </div>
        <div class="image-Compheresive-data" class="w-23rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="Frame.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Integration</span>

                <li class="pt-2	text-base ml-3"> Consolidating data from diverse sources</li>
                <li class="pt-2	text-base ml-3">Integrating disparate data into a unified framework</li>
                <li class="pt-2	text-base ml-3">Enhancing data accessibility and actionability</li>
            </ul>
        </div>
        <div class="image-Compheresive-data" class="w-23rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-pencil-plus.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Date Lake</span>

                <li class="pt-2	text-base ml-3">Storing data in its native format</li>
                <li class="pt-2	text-base ml-3">Centralizing data for scalability and flexibility in analytics and ML</li>
                <li class="pt-2	text-base ml-3">Retaining data fidelity</li>
                <li class="pt-2	text-base ml-3">Enabling data for advanced analysis and modeling</li>
            </ul>
        </div>
        <div class="image-Compheresive-data" class="w-23rem h-18rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-topology-star-3.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Structuring For ML</span>

                <li class="pt-2	text-base ml-3">Optimizing data structure</li>
                <li class="pt-2	text-base ml-3">Efficient processing by ML algorithms</li>
                <li class="pt-2	text-base ml-3">Maximizing the effectiveness of AI initiatives</li>
            </ul>
        </div>
        </div>
    
</div>

