*{
    margin: 0;
    padding: 0;
}

.container{
   
    color: white;
}

.start h1{
    padding-top: 420px;
}


.start h6{
    font-size: 45px;
    margin-left: 64px;
}
.start p{
    margin-left: 64px;
    font-size: 16px;
}

/* .Expertise h2{
    font-size: 32px;
    color: blue;
    margin-top: 80px;
    margin-left: 349px;
} */

.Expertise p{
    font-size: 17px;
    padding-top: 15px;
    color: black;
    line-height: 1;
}

.container1{
    width: 1440px;
    height: 520px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    
}



.Data-Quality{
    width: 421px;
    height: 360px;
    background-color:#f9f9f9;
}

.icons-img{
    width: 40px;
    height: 40px;
}
.carousel{
    margin-top: 250px;
}



.custom-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }
  
#img{
    display: flex;
    flex-direction: column;
}

.flex-carousel{
    display: flex;
    flex-direction: row;
}

.custom-card[_ngcontent-ng-c608740622] {
    background-color: rgb(237, 234, 222);
    padding: 24px;
    border-radius: 15px;
    width: 421px;
    height: 360px;

}

.custom-card[_ngcontent-ng-c344272945]{
    text-align: left ; 
}

.container-Compheresive-data{
   
    background-color: rgb(240,255,240);
    margin-top: 100px;
}
/* width:1440px;
height: 512px; */

/* .container-Compheresive-data h1{
    font-size: 32px;
    color: blue;
    padding-top: 64px;
} */


.image-Compheresive-data{
    width: 350px;
    height: 290px;
    background-color: white;
    margin-top: 40px;
    padding-top: 24px;
    padding-left: 24px;
}

.image-Compheresive-data img{
    height: 40px;
    width: 40px;
}

/* .Lists-Compheresive-data{
    list-style-type: '♦';
    color: black;
    margin-top: 16px;

} */

/* .list-title{
    font-size: 24px;
    color: blue;
    line-height: 32px;
}
.flex-Compheresive-data li{
    padding-top: 16px;
    font-size: 17px;
    line-height: 17px;
    margin-left: 9px;
}

.flex-Compheresive-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 */

 .flex-carousel {
    display: flex;
    align-items: center;
}



.container1 {
    position: relative;
}

  

#img {
    position: relative;
}

#img img {
    width: 100%;
    height: auto;
}

.carousel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 60%; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card[_ngcontent-ng-c3930422434]{
    height: 460px;
}
.card-icon {
    width: 40px; 
    height: auto;
    margin-bottom: 15px;
    margin-right: 300px ; 
}

.card-content {
    position: relative;
    z-index: 10;
}

.card-title {
    font-size: 18px;
    color: blue;
    margin-right: 115px;
    padding-bottom: 10px;
}

.card-text {
    font-size: 14px;
    margin-left: px;
    color: #666;
}

@media only screen and (max-width : 400px) {
    .carousel{
        left: 2%;
    }
}
