<div class="w-full xl:w-10 container" style="background-image: url(ds_img31.png); background-repeat:no-repeat; background-size:cover; background-position:center;">
    <div class="start" >
    <h1 class="text-2xl lg:text-7xl ml-3 lg:ml-7 ">Business Intelligent (BI) Dashboards</h1>
    <h6 class="text-xl  lg:text-5xl ml-3 lg:ml-7 mt-3 lg:mt-0 ">Intuitive & Insightful Dashboards For Strategic Decision-Making</h6>
    <p class="ml-3 lg:ml-7 text-sm lg:text-base">Our approach blends art and science, leveraging leading tools for clear, impactful insights.</p>
</div>
</div>

<div class="Expertise">
    <h2 class="text-4xl text-black-alpha-90 lg:text-primary mt-8 text-center">Our Data Dashboarding And Visualization Process Involves</h2>
    <p class="text-lg pt-3 line-height-1 text-color	 text-center pr-5">Our BI dashbaords are designed to bridge the gap between the rich insights derived from our solutions and the strategic actions taken by </p>
    <p class=" text-lg pt-3 line-height-1 text-color	text-center pr-4">management</p>
</div>

<div class="container1">
    <diV class="flex-carousel">
    <div id="img">
        <img src="Service-BI.svg">
    </div>
        
        
<div class="carousel">
<p-carousel 
  [value]="products" 
  [numVisible]="4" 
  [numScroll]="4" 
  [circular]="true" 
  autoplayInterval="3000">
  <ng-template let-product pTemplate="item">
      <div class="custom-card">
          <img [src]="product.image" class="card-img-top" [alt]="product.title">
          <div class="card-body">
              <h6 class="card-title">{{ product.title }}</h6>
              <p class="card-text">{{ product.description }}</p>
          </div>
      </div>
  </ng-template>
</p-carousel>
</div>

</diV>
</div>


<div class="container-Compheresive-data" class="w-full surface-ground  mt-7">
        <h1 class="text-4xl text-primary text-center pt-7">
            Our Framework
        </h1>
        <div class="flex-Compheresive-data" class="flex flex-column md:flex-row justify-content-between " >
            <div class="image-Compheresive-data" class="w-35rem h-14rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-user-check.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Data Consultation & Preparation</span>

                <li class="pt-2	text-base ml-3"> Understand business objectives</li>
                <li class="pt-2	text-base ml-3">Script the story the data wants to tell</li>
                <li class="pt-2	text-base ml-3">Aggregate and prepare data from diverse sources</li>
            </ul>
        </div>
        <div class="image-Compheresive-data" class="w-45rem h-14rem bg-white mt-6 pt-4	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-database-import.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="list-style-type: '-';">
                <span class="list-title">Visualization, Deployment & Training</span>

                <li class="pt-2	text-base ml-3">Create custom dashboards and reports</li>
                <li class="pt-2	text-base ml-3">Visualization aligned with your strategic goals and aesthetic preferences.</li>
                <li class="pt-2	text-base ml-3">Provide training to ensure effective usage of these tools</li>
            </ul>
        </div>
        
        </div>
    
</div>

