<div class="banner" class="bg-cover bg-center h-57rem w-full"  style="background-image: url('about_us_sider1.png');">
  <div class="banner1">
    <p class="text-7xl text-white	">Elevate Your Business Operations</p>
    <p class="text-7xl text-white	">With Our Cutting-Edge Solutions</p>
    </div>
</div>
   
<app-philosophy />


<div class="w-full mt-3">
  <div class="flex text-center mb-2">
    <img src="D.svg" alt="Logo">
    <h2 class="ml-2">Services</h2>
  </div>
  <div class="flex flex-row mt-4">
  <div class="scroll-container">
    <div class="flex flex-wrap">
      <div class="w-18rem border-round-xs shadow-2 h-20rem  overflow-hidden	">
        <a routerLink="/Data-Transformation" routerLinkActive="active"><img src="Data Transformation.svg" class="card-img-top" alt="Data Transformation"></a>
        <div class="card-body">
          <h6 class="card-title">Data Transformation</h6>
          <p class="card-text">Services designed to make data ready for ML, ensuring it's not just data, but a potent tool for innovation and insight.</p>
        </div>
      </div>
      
      <div class="card" class="w-18rem border-round-xs shadow-2 h-20rem  overflow-hidden ml-3	">
        <a routerLink="/AI-ML-Based-Solution" routerLinkActive="active"><img src="AI-ML Based.svg" class="card-img-top" alt="AI-ML Based Solution Designing"></a>
        <div class="card-body">
          <h6 class="card-title">AI-ML Based Solution Designing</h6>
          <p class="card-text">Prototype service delivering agility and precision, empowering strategic and informed AI and ML ventures.</p>
        </div>
      </div>

      <div class="card" class="w-18rem border-round-xs shadow-2 h-20rem  overflow-hidden ml-3	">
        <a routerLink="/ML-Pipeline" routerLinkActive="active"><img src="ML Pipeline.svg" class="card-img-top" alt="ML Pipeline and Deployment"></a>
        <div class="card-body">
          <h6 class="card-title">ML Pipeline and Deployment</h6>
          <p class="card-text">Services to transform proven prototypes into scalable, efficient systems for real-time insights and operational enhancements.</p>
        </div>
      </div>
          <div class="card" class="w-18rem border-round-xs shadow-2 h-20rem  overflow-hidden mt-3">
        <a routerLink="/Optimization" routerLinkActive="active"><img src="Optimization.svg" class="card-img-top" alt="Optimization"></a>
        <div class="card-body">
          <h6 class="card-title">Optimization</h6>
          <p class="card-text">Deep industry insights and advanced mathematical modelling to transform complex business problems into optimized solutions.</p>
        </div>
      </div>

      <div class="card" class="w-18rem border-round-xs shadow-2 h-20rem  overflow-hidden ml-3 mt-3">
        <a routerLink="/Business-Intelligent" routerLinkActive="active"><img src="Business Intelligence.svg" class="card-img-top" alt="BI Dashboards"></a>
        <div class="card-body">
          <h6 class="card-title">BI Dashboards</h6>
          <p class="card-text">Blending art of visualization and data-science & augmented analytics tools for clear, impactful insights.</p>
        </div>
      </div>

      <div class="card" class="w-18rem border-round-xs shadow-2 h-20rem  overflow-hidden ml-3 mt-3">
        <a routerLink="/Business-Consulting" routerLinkActive="active"><img src="Business Consulting.svg" class="card-img-top" alt="Business Consulting"></a>
        <div class="card-body">
          <h6 class="card-title">Business Consulting</h6>
          <p class="card-text">Expert guidance and partnership in complex analytics, to thrive through strategic foresight and operational excellence.</p>
        </div>
      </div>
    </div>
  </div>

    <div class="container5">
      <h1>Get to know more!</h1>
      <p>For comprehensive information on our services, kindly provide your contact details, and our team will promptly get in touch with you.</p>
      <form>
          <label for="name">Your name</label>
          <input  class="print-clean" type="text" id="name" name="name" placeholder="e.g John Doe">

          <label for="email">Your email address</label>
          <input class="print-clean" type="email" id="email" name="email" placeholder="e.g yourname@email.com" required>

          <label for="phone">Your phone number</label>
          <input class="print-clean" type="tel" id="phone" name="phone" placeholder="e.g +91 12345 67890">

          <button class="print-clean-b" type="submit">Submit</button>
      </form>
  </div>
</div>
</div>
<router-outlet/>


 <!-- /*/////////////////////////////////////////////////////////////////////////////////////////////*/ -->


 <div class="sas-header" >
    <img src="D.svg" alt="Logo">
    <h2 style="margin-left: 5px;">Saas Offerings</h2>
  </div>
  <div class="img" style="background-image: url('ds_offerring1_optimus.png'); width: 1255px; height: 474px; background-size: cover;">
    
 <div class="card ">
    <p-tabView>
      <p-tabPanel header="Auto Route Planning">
        <div class="header">
        <h1 class="mb-5">Auto Route Planning</h1>
        <ul style="list-style: '◆';">
          <span class="Optimus-space"> Optimus - Predictive solution for optimal and efficient vehicle and
          route planning.
        </span> 
          <li class="mt-4 ml-3 mb-3">
            Optimal routes for over 400 delivery locations in under a minute
          </li>
          <li class="ml-3 mb-3">Multiple configurations and a user-friendly interface</li>
          <li class="ml-3 mb-3">
            Smart AI & ML backed optimisation engine to see recommended routes
          </li>
          <li class="ml-3 mb-3">Savings up to 20%</li>
        </ul>
      </div>
      </p-tabPanel>
      <p-tabPanel header="Transport Management System">
        <div class="header">
      <h1 class="mb-5">Transport Management System"</h1>
  
      <ul style="list-style: '◆';"> 
        <span>Smart Trip - Total Transport Management System.</span>
      <li class="mt-4 ml-3 mb-3">Assigning Vehicle to Trip and Real time monitoring the same    </li>
      <li class="ml-3 mb-3">Intuitive and Interactive Dashboard to avoid SLA breaches</li>
      <li class="ml-3 mb-3"> Delivery Partner App with on-the-go controls for efficient delivery</li>
      <li class="ml-3 mb-3"> Supervisor App for overseeing operations and vehicle tracking.</li>
    </ul>
  </div>
      </p-tabPanel>
      <p-tabPanel header="Contract Management & Accounting Tool">
    <div class="header">
      <h1 class="mb-5">Contract Management & Accounting Tool"</h1>
  
      <ul style="list-style: '◆';"> 
       <span> HiSaaB - Comprehensive Contract Management and Accounting tool</span>
      <li class="mt-4 ml-3 mb-3 "> Simplified contract approval workflows</li>
      <li class="ml-3 mb-3">Enables easy billing and cost allocation based on contract terms</li>
      <li class="ml-3 mb-3">Advanced cost analysis tools to optimize trip expenses, enhancing efficiency and accountability</li>
      <li class="ml-3 mb-3"> Cost Analysis for a given Trip and Vehicle in terms of Kilometres, Orders, Kg, Penalties, Fuel Advance etc.</li>
    </ul>

  </div>
      </p-tabPanel>
  
    <p-tabPanel header="Dashboarding, Reporting & Trip Analysis">
      <div class="header">
    <h1 class="mb-5">Dashboarding, Reporting & Trip Analysis</h1>
  
      <ul style="list-style: '◆';">
        <span>Third Eye- AI-powered dashboards and Reports</span>
      <li class="mt-4 ml-3 mb-3">Comprehensive trip analysis, including monthly trips, vehicle utilization.</li>
      <li class="ml-3 mb-3">Reports for Delivery SLAs, user, and revenue analysis and analytics.</li>
      <li class="ml-3 mb-3">Dashboard for CO2 emission savings.</li>
    </ul>
      </div>
  </p-tabPanel>
  </p-tabView>
  </div>
</div>

 <!-- /*/////////////////////////////////////////////////////////////////////////////////////////////*/ -->


 <app-teck-stack />
 <div class="Stack">
  <img src="D.svg">
  <h2 style="margin-left: 5px;">CASE STUDIES</h2>
  </div>
  
  <p-carousel 
  [value]="products" 
  [numVisible]="3" 
  [numScroll]="3" 
  [circular]="true" 
  autoplayInterval="3000">
  <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
          <div class="mb-3">
              <div class="relative mx-auto">
                  <img 
                      [src]="product.image" 
                      [alt]="product.name" 
                      class="w-full border-round" />
              </div>
          </div>
          <div class="mb-3 font-medium">
              {{ product.name }}
          </div>
      </div>
  </ng-template>
  </p-carousel>
  
  <app-get-info/>
<app-footer />

