<div class="top" style="background-image: url('case-blank.svg'); height: 348px; width: 1312px;">
    <div class="Stack" style="color: white;">
        <img src="d_icon_white.png" style="height: 16px; width: 22px; margin-top: 22px;">
        <h2 style="margin-left: 8px; font-weight: 400; line-height: 20px;">CASE STUDIES</h2>
        </div>

    <div>
        <p style="font-size: 64px; margin-left: 510px; line-height: 0;">Illuminating</p>
        <p style="font-size: 64px; margin-left: 257px; line-height: 0;">Success Through Case Studies</p>
    </div>
</div>

<div class="img" style="display: flex; justify-content: space-between;">
<div class="card" style=" margin-top: 64px;">
    <img src="Data-driven Engagement.svg" alt="Avatar" style="width:640px; height: 340px;">
    <div class="container">
      <a routerLink="/Data-driven Engagement" routerLinkActive="active" style="font-size: 24px; color: blue; line-height: 0;  text-decoration: none; padding-top: 16px;">Data-Driven Engagement & Retention Success</a>
      <p style="line-height: 1;">By analyzing customer interactions and churn patterns, DataShastra tailored marketing strategies to boost engagement and retain inactive customers effectively.</p>
    </div>
</div>


    <div class="card" style=" margin-top: 64px;">
        <img src="Route-Optimization.svg" alt="Avatar" style="width:640px; height: 340px;">
        <div class="container">
          <a routerLink="/Route-Optimization" routerLinkActive="active" style="font-size: 24px; color: blue; line-height: 0; text-decoration: none;">Route Optimization - Optimus</a>
          <p style="line-height: 1;">Optimus, our route optimization solution, transformed logistics operations by finding the most efficient paths, reducing delivery times and cost up to  by 10-25%.</p>
        </div>
    </div>
  </div>

  <div class="img2">
  <div class="card2">
    <img src="Disha.svg" alt="DISHA: Light-weight In-House Routing Solution">
    <div class="container1">
        <a routerLink="/Disha" routerLinkActive="active" style="text-decoration: none;">DISHA: Light-weight In-House Routing Solution</a>
        <p>An offline and lightweight implementation to derive road distances from data initially collected from Open ...</p>
    </div>
</div>
<div class="card2">
    <img src="Vehicle-Performance.svg" alt="Vehicle Performance/OTD Dashboard">
    <div class="container1">
        <a routerLink="/Vehicle-Performance" routerLinkActive="active" style="text-decoration: none;">Vehicle Performance/OTD Dashboard</a>
        <p>Our real-time dashboard provides insights into vehicle performance and on-time delivery metrics, enabling ...</p>
    </div>
</div>
<div class="card2">
    <img src="Transportation-Spend.svg" alt="Transportation Spend Analytics">
    <div class="container1">
        <a routerLink="/Transportation-Spend" routerLinkActive="active" style="text-decoration: none;" >Transportation Spend Analytics</a>
        <p>Our comprehensive analytics broke down transportation costs at an unprecedented granular level, revealing ...</p>
    </div>
</div>
</div>

<router-outlet/>
<app-footer/>

