<div class="surface-section mt-5 h-21rem w-112rem border-round-2xl" style="background-image: url('case-blank.svg'); background-repeat:no-repeat; background-size:cover; background-position:center;">  <!---height: 348px; width: 1312px;-->
    <div class="text-center ">
        <div class="flex justify-content-center align-items-center">
            <img src="d_icon_white.png" class="h-1rem w-1rem mr-3 mt-4">
            <h2 class="text-1xl text-white pt-4">CASE STUDIES</h2>
        </div>
    </div>

    <div class="text-center  main">
        <p class="text-4xl lg:text-6xl text-white" style="line-height: 0;">Illuminating</p>
        <p class="text-4xl lg:text-6xl text-white">Success Through Case Studies</p>
    </div>
</div>

<div class="grid mt-4 space">
    <div class="col-12 lg:col-6 mb-4">
        <div class="card w-full lg:w-38rem h-full lg:h-31rem shadow-2 surface-card">
            <a routerLink="/Data-driven Engagement" routerLinkActive="active">
                <img src="Data-driven Engagement.svg" alt="Data-Driven Engagement" class="w-full h-auto pl-3 lg:pl-0" style="max-width: 100%; display: block;">
            </a>
            <div class="mt-4 ml-4">
                <a routerLink="/Data-driven Engagement" routerLinkActive="active" class="text-xl lg:text-2xl text-primary hover:text-primary-dark no-underline">
                    Data-Driven Engagement & Retention Success
                </a>
                <p class=" text-sm lg:text-base">By analyzing customer interactions and churn patterns, DataShastra tailored marketing strategies to boost engagement and retain inactive customers effectively.</p>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 mb-4">
        <div class="card w-full lg:w-38rem h-full lg:h-31rem shadow-2 surface-card">
            <a routerLink="/Route-Optimization" routerLinkActive="active">
                <img src="Route-Optimization.svg" alt="Route Optimization" class="w-full h-auto pl-3 lg:pl-0" style="max-width: 100%; display: block;">
            </a>
            <div class="mt-4 ml-4">
                <a routerLink="/Route-Optimization" routerLinkActive="active" class="text-xl lg:text-2xl text-primary hover:text-primary-dark no-underline">
                    Route Optimization - Optimus
                </a>
                <p class="mt-2 text-sm lg:text-base">Optimus, our route optimization solution, transformed logistics operations by finding the most efficient paths, reducing delivery times and cost by 10-25%.</p>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-4 mb-4">
        <div class="card w-full h-full lg:w-27rem lg:h-25rem shadow-2 surface-card">
            <a routerLink="/Disha" routerLinkActive="active">
                <img src="Disha.svg" alt="DISHA: Light-weight In-House Routing Solution" class="border-round-top w-full h-auto">
            </a>
            <div class="mt-4 ml-2">
                <a routerLink="/Disha" routerLinkActive="active" class="text-lg lg:text-xl text-primary hover:text-primary-dark no-underline">
                    DISHA: Light-weight In-House Routing Solution
                </a>
                <p class="mt-2 text-sm lg:text-base">An offline and lightweight implementation to derive road distances from data initially collected from Open ...</p>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-4 mb-4">
        <div class="card w-full h-full lg:w-27rem lg:h-25rem shadow-2 surface-card">
            <a routerLink="/Vehicle-Performance" routerLinkActive="active">
                <img src="Vehicle-Performance.svg" alt="Vehicle Performance/OTD Dashboard" class="border-round-top w-full h-auto">
            </a>
            <div class="mt-4 ml-2">
                <a routerLink="/Vehicle-Performance" routerLinkActive="active" class="text-lg lg:text-xl text-primary hover:text-primary-dark no-underline">
                    Vehicle Performance/OTD Dashboard
                </a>
                <p class="mt-2 text-sm lg:text-base">Our real-time dashboard provides insights into vehicle performance and on-time delivery metrics, enabling ...</p>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-4 mb-4">
        <div class="card w-full h-full lg:w-27rem lg:h-25rem shadow-2 surface-card">
            <a routerLink="/Transportation-Spend" routerLinkActive="active">
                <img src="Transportation-Spend.svg" alt="Transportation Spend Analytics" class="border-round-top w-full h-auto">
            </a>
            <div class="mt-4 ml-2">
                <a routerLink="/Transportation-Spend" routerLinkActive="active" class="text-lg lg:text-xl text-primary hover:text-primary-dark no-underline">
                    Transportation Spend Analytics
                </a>
                <p class="mt-2 text-sm lg:text-base">Our comprehensive analytics broke down transportation costs at an unprecedented granular level, revealing ...</p>
            </div>
        </div>
    </div>
</div>



<router-outlet></router-outlet>
<app-footer></app-footer>
