<div class="w-full xl:w-10 container" style="background-image: url('/assets/AI-ML Prototype.svg'); background-repeat:no-repeat; background-size:cover; background-position:center;">
    <div class="start">
    <h1 class="text-2xl lg:text-7xl ml-3 lg:ml-7 ">AI-ML Based Solution Designing</h1>
    <h6 class="text-xl  lg:text-5xl ml-3 lg:ml-7 mt-3 lg:mt-0">Rapid Validation And Faster AI-ML Solutions To Your Problem</h6>
    <p class="ml-3 lg:ml-7 text-sm lg:text-base">Our Prototype service offers agility and precision, guiding strategic and informed ventures into AI and ML</p>
</div>
</div>

<div class="Expertise">
    <h2 class="text-4xl text-primary mt-8 text-center">Your Catalyst For AI-ML Based Solution Designing</h2>
    <p class="text-lg pt-3 line-height-1 text-color	 text-center pr-5">DataShastra's AI-ML Prototype service sets the stage for success in AI-ML. We transform your data into an innovation powerhouse, leveraging </p>
    <p class=" text-lg pt-3 line-height-1 text-color	text-center pr-4" style="margin-left: 8px;">business challenges for growth and competitive edge.</p>
</div>

<div class="container1">
    <diV class="flex-carousel">
    <div id="img">
        <img src="AI-ML Prototype 02.svg">
    </div>
        
        
    <div class="carousel">
<p-carousel 
  [value]="products" 
  [numVisible]="4" 
  [numScroll]="5" 
  [circular]="true" 
  autoplayInterval="3000">
  <ng-template let-product pTemplate="item">
      <div class="custom-card">
          <img [src]="product.image" class="card-img-top" [alt]="product.title">
          <div class="card-body">
              <h6 class="card-title">{{ product.title }}</h6>
              <p class="card-text">{{ product.description }}</p>
          </div>
      </div>
  </ng-template>
</p-carousel>
</div>

</diV>
</div>


<div class="container-Compheresive-data" class="w-90rem h-32rem surface-ground  mt-7">
        <h1 class="text-4xl text-primary text-center pt-7">
            AI-ML Solution Designing
        </h1>
        <div class="flex-Compheresive-data" class="flex flex-column md:flex-row justify-content-between">
            <div class="image-Compheresive-data" class="w-40rem h-15rem bg-white mt-6 pt-2	pl-4">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-search.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Collate And Analyse Data</span>

                <li class="pt-2	text-base ml-3">Articulate business challenges where AI and ML can have significant impact.</li>
                <li class="pt-2	text-base ml-3">Assess data quality and suitability</li>
                <li class="pt-2	text-base ml-3">Uncover insights and identifying additional data needs</li>
            </ul>
        </div>
        <div class="image-Compheresive-data" class="w-30rem h-15rem bg-white mt-6 pt-2 ">
            <img class="h-2.5rem w-2.5rem" src="tabler-icon-device-analytics.svg" alt="rotate">
            <ul class="Lists-Compheresive-data" class="text-color mt-3 " style="    list-style-type: '-';">
                <span class="list-title" class="text-2xl text-primary line-height-2">Prototyping, Training, Testing & Tuning</span>

                <li class="pt-2	text-base ml-3">Craft tailored AI-ML prototypes</li>
                <li class="pt-2	text-base ml-3">Iterative testing and refinement</li>
                <li class="pt-2	text-base ml-3">Robust, reliable models ready for real-world application</li>
            </ul>
        </div>
        
        </div>
    
</div>

